<a href="https://colab.research.google.com/github/cowsilver57/sessac_test/blob/main/1_Python_100%EC%A0%9C_(1_20).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1번
print("Hello World!")
print("Name:", "KWON soeun")
print("Age:", 25)
print("Grade:", 4.5)

Hello World!
Name: KWON soeun
Age: 25
Grade: 4.5

In [ ]:
#2번
name ="KWON soeun"
math_score = 100
height = 165

print("name:", name)
print("math score:", math_score)
print("height:", height)

name: KWON soeun
math score: 100
height: 165

In [ ]:
#3번
int1 = 4
int2 = 2
print(int1 + int2)
print(int1 - int2)
print(int1 * int2)
print(int1 / int2)
print(int1 % int2)
print(int1 // int2)
print(int1 ** int2)

6
2
8
2.0
0
2
16

In [ ]:
#4번
int1, int2 = 4,2
add, sub = int1+int2, int1-int2
mul, div = int1*int2, int1/int2
quo, rem = int1//int2, int1%int2 #quotient
pow = int1 ** int2

print(add, sub, mul, div, quo, rem, pow)

6 2 8 2.0 2 0 16

In [ ]:
#5번 홀수/짝수 구하기
int1, int2, int3, int4 = 1,2,3,4
div = 2
rem1, rem2, rem3, rem4 = int1%div, int2%div, int3%div, int4%div
print(rem1, rem2, rem3, rem4)

1 0 1 0

In [ ]:
#6번 자기 자신에 연산하기
score = 10
print(score)
score += 10
print(score)
score -= 5
print(score)
score *= 2
print(score)
score /= 3
print(score)

10
20
15
30
10.0

In [ ]:
#7번 수학점수의 합 구하기
score1 = 10
score2 = 20
score3 = 30
score_sum = score1 + score2 + score3
print(score_sum)

60

In [ ]:
#8번 수학점수의 평균 구하기
score1 = 10
score2 = 20
score3 = 30
n_student = 3

score_sum = score1 + score2 + score3
score_mean = score_sum / n_student
print(score_mean)

20.0

In [ ]:
#9번 추가점수를 받은 학생들의 평균
score1 = 10
score2 = 20
score3 = 30
n_student = 3

mean = (score1 + score2 + score3)/n_student
print(mean)

score1 += 10
score2 += 10
score3 += 10
print(score1, score2, score3)

after_mean = (score1 + score2 + score3)/n_student
print(after_mean)

20.0
20 30 40
30.0

In [ ]:
#10번 Mean Subtraction ; 원래 점수에서 평균을 빼고 그 점수로 다시 평균을 구하는 것
score1 = 10
score2 = 20
score3 = 30
n_student = 3

mean = (score1 + score2 + score3)/n_student
print(mean)

score1 -= mean
score2 -= mean
score3 -= mean
after_mean = (score1 + score2 + score3)/n_student
print(after_mean)

20.0
0.0

In [ ]:
#11번 평균의 제곱과 제곱의 평균
score1 = 10
score2 = 20
score3 = 30
n_student = 3

mean = (score1 + score2 + score3)/n_student
square_of_mean = mean**2
mean_of_square = (score1**2 + score2**2 + score3**2)/n_student

print("평균의 제곱:", square_of_mean)
print("제곱의 평균:", mean_of_square)

평균의 제곱: 400.0
제곱의 평균: 466.6666666666667

In [ ]:
#12번 분산과 표준편차
score1 = 10
score2 = 20
score3 = 30
n_student = 3

mean = (score1 + score2 + score3)/n_student
square_of_mean = mean**2
mean_of_square = (score1**2 + score2**2 + score3**2)/n_student
variance = mean_of_square - square_of_mean
std = variance**0.5

print("분산:", variance)
print("표준편차:", std)

분산: 66.66666666666669
표준편차: 8.16496580927726

In [ ]:
#13번 Standardization ; 표본정규분포 기준으로 -> 이걸 하면 무조건 std가 1이 나와야함.
score1 = 10
score2 = 20
score3 = 30
n_student = 3

mean = (score1 + score2 + score3)/n_student
mean_of_square = (score1**2 + score2**2 + score3**2)/n_student
square_of_mean = mean**2
variance = mean_of_square - square_of_mean
std = variance**0.5

score1 = (score1-mean)/std
score2 = (score2-mean)/std
score3 = (score3-mean)/std

after_mean = (score1 + score2 + score3)/n_student
mean_of_square = (score1**2 + score2**2 + score3**2)/n_student
square_of_mean = after_mean**2
after_var = mean_of_square - square_of_mean
after_std = after_var**0.5
print("std 후 평균:", after_mean)
print("std 후 표준편차:", after_std)

std 후 평균: 0.0
std 후 표준편차: 1.0

In [ ]:
#14번 Vector-Vector Operations

x1, y1, z1 = 1,2,3
x2, y2, z2 = 3,4,5

x3, y3, z3 = x1+x2, y1+y2, z1+z2
x4, y4, z4 = x1-x2, y1-y2, z1-z2
x5, y5, z5 = x1*x2, y1*y2, z1*z2

print(x3, y3, z3)
print(x4, y4, z4)
print(x5, y5, z5)

4 6 8
-2 -2 -2
3 8 15

In [ ]:
#15번 Scaler-Vector Operations

a = 10
x1, y1, z1 = 1,2,3

x2, y2, z2 = a*x1, a*y1, a*z1
x3, y3, z3 = a+x1, a+y1, a+z1
x4, y4, z4 = a-x1, a-y1, a-z1

print(x2, y2, z2)
print(x3, y3, z3)
print(x4, y4, z4)

10 20 30
11 12 13
9 8 7

In [ ]:
#16번 Vector Norm
x, y, z = 1,2,3

norm = (x**2+y**2+z**2)**0.5
print(norm)

#17번 Unit Vector = 1
x, y, z = x/norm, y/norm, z/norm
norm = (x**2+y**2+z**2)**0.5
print(norm)

3.7416573867739413
1.0

In [ ]:
#18번 Dot Product 각 값의 곱들의 합
x1, y1, z1 = 1,2,3
x2, y2, z2 = 3,4,5

dot_prod = x1*x2 + y1*y2 + z1*z2
print(dot_prod)

26

In [ ]:
#19번 Euclidean Distance 구하기
x1, y1, z1 = 1,2,3
x2, y2, z2 = 3,4,5

e_distance = (x1-x2)**2 + (y1-y2)**2 + (z1-z2)**2
e_distance **=0.5

print(e_distance)

3.4641016151377544

In [ ]:
#20번 Square Error
pred1, pred2, pred3 = 10,20,30
y1, y2, y3 = 10, 25, 40
s_error1 = (pred1-y1)**2
s_error2 = (pred2-y2)**2
s_error3 = (pred3-y3)**2
print(s_error1, s_error2, s_error3)

0 25 100