<a href="https://colab.research.google.com/github/cowsilver57/sessac_test/blob/main/3_Python_100%EC%A0%9C_(41_60).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#41번 10개의 0을 가진 List를 for문을 활용하여 만들기
numbers = list()
for _ in range(10):
    numbers.append(0)
print(numbers)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
#42번 for 문을 list의 원소에 활용하기
#방법 1
scores = [10,20,30]
for score in scores:
    print(score)

#방법 2
for score_idx in range(len(scores)):
    print(scores[score_idx])

10
20
30
10
20
30

In [ ]:
#43번 for문을 활용해서 list의 원소 수정하기
scores = [10,20,30,40,50]

for score_idx in range(len(scores)):
    scores[score_idx] += 10
print(scores)

[20, 30, 40, 50, 60]

In [ ]:
#44번 두 개의 List에 접근하기
list1 = [10,20,30]
list2 = [100,200,300]

for idx in range(len(list1)):
    print(list1[idx], list2[idx])

10 100
20 200
30 300

In [ ]:
#45번 for문 활용해서 수학점수들의 평균 구하기
scores = [10,20,30]

#방법 1
score_sum = 0
n_student = 0
for score in scores:
    score_sum += score
    n_student +=1
score_mean = score_sum/n_student
print("수학 점수 평균:", score_mean)

#방법 2
score_sum = 0
for score_idx in range(len(scores)):
    score_sum += scores[score_idx]
score_mean1 = score_sum / len(scores)
print("수학 점수 평균:", score_mean1)

수학 점수 평균: 20.0
수학 점수 평균: 20.0

In [ ]:
#46번 for문을 활용하여 Mean Subtraction
scores = [10,20,30]

#방법 1
score_sum = 0
n_student = 0
for score in scores:
    score_sum += score
    n_student += 1
score_mean = score_sum / n_student
print("수학점수 평균:", score_mean)

scores_ms = list()
for score in scores:
    scores_ms.append(score-score_mean)
print(scores_ms)

#방법 2
for score_idx in range(len(scores)):
    scores[score_idx] -= score_mean
print(scores)

수학점수 평균: 20.0
[-10.0, 0.0, 10.0]
[-10.0, 0.0, 10.0]

In [ ]:
#47번 두 과목의 평균 구하기
math_scores = [40,60,80]
english_scores = [30,40,50]

n_class = 2
n_student = len(math_scores)

score_sums = list()
score_means = list()

for _ in range(n_class):
    score_sums.append(0)
for student_idx in range(n_student):
    score_sums[0] += math_scores[student_idx]
    score_sums[1] += english_scores[student_idx]
print("각 과목의 점수 합계:", score_sums)

for class_idx in range(n_class):
    class_mean = score_sums[class_idx]/n_student
    score_means.append(class_mean)
print("각 과목의 평균:", score_means)

각 과목의 점수 합계: [180, 120]
각 과목의 평균: [60.0, 40.0]

In [ ]:
#47번 반복
math_scores = [40,60,80]
english_scores = [30,40,50]
n_class = 2
n_student = len(math_scores)

score_sums = list()
score_means = list()

for _ in range(n_class):
    score_sums.append(0)

for score_idx in range(n_student):
    score_sums[0] += math_scores[score_idx]
    score_sums[1] += english_scores[score_idx]
print("각 과목 점수들의 합:", score_sums)

for class_idx in range(n_class):
    class_mean = score_sums[class_idx] / n_student
    score_means.append(class_mean)
print("각 과목 점수들의 평균:", score_means)

각 과목 점수들의 합: [180, 120]
각 과목 점수들의 평균: [60.0, 40.0]

In [ ]:
#48번 for문과 List를 활용하여 Mean Subtraction
math_scores = [40,60,80]
englisht_scores = [30,40,50]
n_class = 2
n_student = len(math_scores)

score_sums = list()
score_means = list()

for _ in range(n_class):
    score_sums.append(0)

for student_idx in range(n_student):
    score_sums[0] += math_scores[student_idx]
    score_sums[1] += english_scores[student_idx]
print("과목별 점수 총합:", score_sums)

for class_idx in range(n_class):
    class_mean = score_sums[class_idx]/n_student
    score_means.append(class_mean)
print("과목별 점수 평균:", score_means)

for student_idx in range(n_student):
    math_scores[student_idx] -= score_means[0]
    english_scores[student_idx] -= score_means[1]
print("MS 후 수학점수:", math_scores)
print("MS 후 영어점수:", english_scores)

과목별 점수 총합: [180, 0.0]
과목별 점수 평균: [60.0, 0.0]
MS 후 수학점수: [-20.0, 0.0, 20.0]
MS 후 영어점수: [-10.0, 0.0, 10.0]

In [ ]:
#49번 for문과 list의 분산과 표준편차

scores = [10,20,30]
n_student = len(scores)
score_sum, score_square_sum = 0,0

for score in scores:
    score_sum += score
    score_square_sum += score**2

mean = score_sum/n_student
square_of_mean = mean**2
mean_of_square = score_square_sum / n_student

var = mean_of_square - square_of_mean
std = var**0.5

print("분산:", var)
print("표준편차:", std)

분산: 66.66666666666669
표준편차: 8.16496580927726

In [ ]:
#50번 for문과 list를 활용한 standardization
scores = [10,20,30]
n_student = len(scores)
score_sum, score_square_sum = 0,0

for score in scores:
    score_sum += score
    score_square_sum += score**2
mean = score_sum / n_student
square_of_mean = mean**2
mean_of_square = score_square_sum / n_student

var = mean_of_square - square_of_mean
std = var**0.5

print("분산:", var)
print("표준편차:", std)

for student_idx in range(n_student):
    scores[student_idx] = (scores[student_idx] - mean)/std
print("ST 후 점수들:", scores)

#다시 위의 점수들로 분산과 표준편차 구해서 표준편차가 1이 나오는지 검산하기
after_score_sum, after_square_score_sum = 0,0
for score in scores:
    after_score_sum += score
    after_square_score_sum += score**2
after_mean = after_score_sum / n_student
after_square_of_mean = after_mean**2
after_mean_of_square = after_square_score_sum / n_student
after_var = after_mean_of_square - after_square_of_mean
after_std = after_var**0.5
print("ST 후 표준편차:", after_std)

분산: 66.66666666666669
표준편차: 8.16496580927726
ST 후 점수들: [-1.224744871391589, 0.0, 1.224744871391589]
ST 후 표준편차: 1.0

In [ ]:
#51번 분산과 표준편차
math_scores, english_scores = [50,60,70], [30,40,50]
n_student = len(math_scores)

math_sum, math_square_sum = 0,0
english_sum, english_square_sum = 0,0

for student_idx in range(n_student):
    math_sum += math_scores[student_idx]
    math_square_sum += math_scores[student_idx]**2

    english_sum += english_scores[student_idx]
    english_square_sum += english_scores[student_idx]**2

math_mean = math_sum / n_student
english_mean = english_sum / n_student

math_square_of_mean = math_mean**2
math_mean_of_square = math_square_sum / n_student
math_var = math_mean_of_square - math_square_of_mean
math_std = math_var**0.5

english_square_of_mean = english_mean**2
english_mean_of_square = english_square_sum / n_student
english_var = english_mean_of_square - english_square_of_mean
english_std = english_var**0.5

print("수학점수의 평균, 표준편차:", math_mean, math_std)
print("영어점수의 평균, 표준편차:", english_mean, english_std)

수학점수의 평균, 표준편차: 60.0 8.164965809277252
영어점수의 평균, 표준편차: 40.0 8.164965809277264

In [ ]:
#52번 standardization
math_scores, english_scores = [50,60,70], [30,40,50]
n_student = len(math_scores)

math_sum, math_square_sum = 0,0
english_sum, english_square_sum = 0,0

for student_idx in range(n_student):
    math_sum += math_scores[student_idx]
    math_square_sum += math_scores[student_idx]**2

    english_sum += english_scores[student_idx]
    english_square_sum += english_scores[student_idx]**2

math_mean = math_sum / n_student
math_mean_of_square = math_square_sum / n_student
math_var = math_mean_of_square - math_mean**2
math_std = math_var**0.5
print("수학점수의 표준편차:", math_std)

english_mean = english_sum / n_student
english_mean_of_square = english_square_sum / n_student
english_var = english_mean_of_square - english_mean**2
english_std = english_var**0.5
print("영어점수의 표준편차:", english_std)

#여기서부터 stadardization 실행하기
for student_idx in range(n_student):
    math_scores[student_idx] = (math_scores[student_idx]-math_mean) / math_std
    english_scores[student_idx] = (english_scores[student_idx]-english_mean) / english_std
print("ST 후의 수학점수: ", math_scores)
print("ST 후의 영어점수: ", english_scores)

#ST 후의 점수들로 다시 표준편차를 구해서 1인지 확인하기
math_sum, math_square_sum = 0,0
english_sum, english_square_sum = 0,0

for student_idx in range(n_student):
    math_sum += math_scores[student_idx]
    math_square_sum += math_scores[student_idx]**2

    english_sum += english_scores[student_idx]
    english_square_sum += english_scores[student_idx]**2

math_mean = math_sum / n_student
math_mean_of_square = math_square_sum / n_student
math_var = math_mean_of_square - math_mean**2
math_std = math_var**0.5
print("ST 후의 수학점수의 표준편차:", math_std)

english_mean = english_sum / n_student
english_mean_of_square = english_square_sum / n_student
english_var = english_mean_of_square - english_mean**2
english_std = english_var**0.5
print("ST 후의 영어점수의 표준편차:", english_std)

수학점수의 표준편차: 8.164965809277252
영어점수의 표준편차: 8.164965809277264
ST 후의 수학점수:  [-1.2247448713915903, 0.0, 1.2247448713915903]
ST 후의 영어점수:  [-1.2247448713915885, 0.0, 1.2247448713915885]
ST 후의 수학점수의 표준편차: 1.0000000000000009
ST 후의 영어점수의 표준편차: 0.9999999999999996

In [ ]:
#53번 for문과 list를 활용하여 Hadamard Product

v1 = [1,2,3,4,5]
v2 = [10,20,30,40,50]

#방법 1
v3 = list()
for dim_idx in range(len(v1)):
    v3.append(v1[dim_idx]*v2[dim_idx])
print(v3)

#방법 2
v3 = list()
for _ in range(len(v1)):
    v3.append(0)
for dim_idx in range(len(v1)):
    v3[dim_idx] = v1[dim_idx] * v2[dim_idx]
print(v3)

[10, 40, 90, 160, 250]
[10, 40, 90, 160, 250]

In [ ]:
#54번 for문과 list를 활용한 vector norm

v1 = [1,2,3]

square_sum = 0
for dim_val in v1:
    square_sum += dim_val**2
norm = square_sum**0.5
print("v1의 vector norm:", norm)

v1의 vector norm: 3.7416573867739413

In [ ]:
#55번 for문과 list를 활용한 unit vector 만들기
v1 = [1,2,3]

square_sum = 0
for dim_idx in range(len(v1)):
    square_sum += v1[dim_idx]**2
norm = square_sum**0.5
print("벡터놈:", norm)

#norm으로 나눠 unit vector 만들어주기
for dim_idx in range(len(v1)):
    v1[dim_idx] /= norm

#잘 시행이 되었는지 = 벡터 놈의 값이 1이 나오는지 확인해보기
square_sum = 0
for dim_idx in range(len(v1)):
    square_sum += v1[dim_idx]**2
norm = square_sum**0.5
print("벡터놈:", norm)

벡터놈: 3.7416573867739413
벡터놈: 1.0

In [ ]:
#56번 for문과 list를 활용한 Dot Product
v1, v2 = [1,2,3], [3,4,5]

dot_prod = 0
for dim_idx in range(len(v1)):
    dot_prod += v1[dim_idx]*v2[dim_idx]
print("Dot Product:", dot_prod)

Dot Product: 26

In [ ]:
#57번 for문과 list를 활용한 Euclidean Distance
v1, v2 = [1,2,3], [3,4,5]

diff_square_sum = 0
for dim_idx in range(len(v1)):
    diff_square_sum += (v1[dim_idx] - v2[dim_idx])**2
e_distance = diff_square_sum**0.5
print("Euclidean distance:", e_distance)

Euclidean distance: 3.4641016151377544

In [ ]:
#58번 for문과 list를 활용한 Mean Squared Error
predictions = [10,20,30]
labels = [10,25,40]

n_data =len(predictions)
diff_square_sum = 0

for data_idx in range(n_data):
    diff_square_sum += (predictions[data_idx]-labels[data_idx])**2
mse = diff_square_sum / n_data
print("MSE:", mse)

MSE: 41.666666666666664

In [ ]:
#59번 숫자 빈도 구하기
numbers = [0,2,4,2,1,4,3,1,2,3,4,1,2,3,4]
number_cnt = [0,0,0,0,0]

for num in numbers:
    number_cnt[num] += 1
print(number_cnt)

[1, 3, 4, 3, 4]

In [ ]:
#60번 합격 알려주기
score = 60

if score > 50:
    print("합격")

합격