<a href="https://colab.research.google.com/github/cowsilver57/sessac_test/blob/main/4_Python_100%EC%A0%9C_(61_80).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#61번 합격, 불합격 알려주기
score = 50

if score > 60:
    print("합격!")
else:
    print("불합격!")

불합격!

In [ ]:
#62번 초를 분초로 표현하기
seconds = 200

if seconds >= 60:
    minutes = seconds//60
    seconds -= minutes*60
else:
    minutes = 0
print(minutes, "분", seconds, "초")

3 분 20 초

In [ ]:
#63번 초를 시분초로 표현하기
seconds = 5000

if seconds >= 3600:
    hours = seconds//3600
    seconds -= hours*3600
else:
    hours = 0

if seconds >= 60:
    minutes = seconds//60
    seconds -= minutes*60
else:
    minutes = 0

print(hours, "시간", minutes, "분", seconds, "초")

1 시간 23 분 20 초

In [ ]:
#64번 홀수, 짝수 구하기
number = 10

if number % 2 == 0:
    print("짝수")
else:
    print("홀수")

짝수

In [ ]:
#65번 두 수 비교하기
num1, num2 = 10,10

if num1 > num2 :
    print("첫번째 숫자")
elif num1 == num2:
    print("같은 숫자")
else:
    print("두번째 숫자")

같은 숫자

In [ ]:
#66번 성적으로 평점 바꾸기
score = 70
if score > 80:
    grade = '수'
elif score > 60:
    grade = '우'
elif score > 40:
    grade = '미'
elif score > 20:
    grade = '양'
else:
    grade = '가'
print("평점:", grade)

평점: 우

In [ ]:
#67번 for문과 list를 활용하여 합격/불합격 알려주기
scores = [20,50,10,60,70]
cutoff = 50

for score in scores:
    if score > cutoff:
        print("합격")
    else:
        print("불합격")

불합격
불합격
불합격
합격
합격

In [ ]:
#68번 for문과 list를 활용하여 성적으로 평점 바꾸기

scores = [20,50,10,60,90]
grades = list()

for score in scores:
    if score > 80:
        grades.append('A')
    elif score > 60:
        grades.append('B')
    elif score > 40:
        grades.append('C')
    else:
        grades.append('F')
print(grades)

['F', 'C', 'F', 'C', 'A']

In [ ]:
#69번 합격 불합격 학생들의 평균 구하기
scores = [20,50,10,60,90]
cutoff = 50

p_score_sum, n_p = 0,0
np_score_sum, n_np = 0,0

for score in scores:
    if score > cutoff:
        p_score_sum += score
        n_p += 1
    else:
        np_score_sum += score
        n_np += 1

p_score_mean = p_score_sum / n_p
np_score_mean = np_score_sum / n_np

print("합격한 학생들의 평균:", p_score_mean)
print("불합격한 학생들의 평균:", np_score_mean)

합격한 학생들의 평균: 75.0
불합격한 학생들의 평균: 26.666666666666668

In [ ]:
#70번 홀수/짝수 구하기
numbers = list()
for num in range(10):
    numbers.append(num)

numbers.append(3.14)
print(numbers)

for num in numbers:
    if num % 2 == 0 :
        print("짝수")
    elif num % 2 == 1:
        print("홀수")
    else:
        print("대상아님")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 3.14]
짝수
홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수
홀수
대상아님

In [ ]:
#71번 n배수들의 합 구하기
multiple_of = 3
numbers = list()

for num in range(100):
    numbers.append(num)

sum_multiple_of_n = 0
for num in numbers:
    if num % multiple_of == 0:
        sum_multiple_of_n += num
print(sum_multiple_of_n)

1683

In [ ]:
#72번 최댓값, 최솟값 구하기
scores = [60,40,70,20,30]
M, m = 0,100

for score in scores:
    if score > M:
        M = score
    if score < m:
        m = score
print("최댓값:", M)
print("최솟값:", m)

최댓값: 70
최솟값: 20

In [ ]:
#73번 최댓값, 최솟값 구하기
scores = [-20, 60,40,70,120]

#방법 1
M, m = scores[0], scores[0]
for score in scores:
    if score > M:
        M = score
    if score < m:
        m = score

print("최댓값", M)
print("최솟값", m)

#방법 2
M, m = None, None
for score in scores:
    if M == None or score > M:
        M = score
    if m == None or score < m:
        m =score
print("최댓값:", M)
print("최솟값:", m)

최댓값 120
최솟값 -20
최댓값: 120
최솟값: -20

In [ ]:
#74번 Min-Max Normalization

scores = [-20,60,40,70,120]
M, m = scores[0], scores[0]

for score in scores:
    if score > M:
        M = score
    if score < m:
        m = score
for score_idx in range(len(scores)):
    scores[score_idx] = (scores[score_idx]-m)/(M-m)
print("Normalization 후의 점수", scores)

scores = [0.0, 0.5714285714285714, 0.42857142857142855, 0.6428571428571429, 1.0]
M, m = scores[0], scores[0]
for score in scores:
    if score > M:
        M = score
    if score < m:
        m = score
print("Normal 후의 최댓값:", M)
print("Normal 후의 최솟값:", m)

Normalization 후의 점수 [0.0, 0.5714285714285714, 0.42857142857142855, 0.6428571428571429, 1.0]
Normal 후의 최댓값: 1.0
Normal 후의 최솟값: 0.0

In [ ]:
#75번 최댓값, 최솟값의 위치 구하기

scores = [60,-20,40,120,70]
M, m = None, None
M_idx, m_idx = 0,0

for score_idx in range(len(scores)):
    score = scores[score_idx]

    if M == None or score > M :
        M = score
        M_idx = score_idx
    if m == None or score < m:
        m = score
        m_idx = score_idx
print("M/M_idx:", M, M_idx)
print("m/m_idx:", m, m_idx)

M/M_idx: 120 3
m/m_idx: -20 1

In [ ]:
#76번 sorting
scores = [40,20,30,10,50]
sorted_scores = list()

for _ in range(len(scores)):
    M, M_idx = scores[0], 0

    for score_idx in range(len(scores)):
        if scores[score_idx] > M:
            M = scores[score_idx]
            M_idx = score_idx

    tmp_scores = list() #하나의 점수가 분류되고 나머지 숫자들
    for score_idx in range(len(scores)):
        if score_idx == M_idx:
            sorted_scores.append(scores[score_idx]) #이미 분류된 숫자들
        else:
            tmp_scores.append(scores[score_idx]) #나머지 숫자들
    scores = tmp_scores
    print("rmaining scores:", scores)
    print("sorted scores:", sorted_scores, '\n')

rmaining scores: [40, 20, 30, 10]
sorted scores: [50]

rmaining scores: [20, 30, 10]
sorted scores: [50, 40]

rmaining scores: [20, 10]
sorted scores: [50, 40, 30]

rmaining scores: [10]
sorted scores: [50, 40, 30, 20]

rmaining scores: []
sorted scores: [50, 40, 30, 20, 10]

In [ ]:
#77번 Accuracy 구하기

predictions = [0,1,0,2,1,2,0]
labels = [1,1,0,0,1,2,1]
n_correct = 0

for pred_idx in range(len(predictions)):
    if predictions[pred_idx] == labels[pred_idx]:
        n_correct += 1

accuracy = n_correct / len(predictions)
print("정확도:", accuracy*100, '%')

정확도: 57.14285714285714 %

In [ ]:
#78번 Confusion Vector 구하기

predictions = [0,1,0,2,1,2,0]
labels = [1,1,0,0,1,2,1]

n_classes = None
for label in labels:
    if n_classes == None or label > n_classes:
        n_classes = label
n_classes += 1

class_cnts, correct_cnts, confusion_vec = list(), list(), list()
for _ in range(n_classes):
    class_cnts.append(0)
    correct_cnts.append(0)
    confusion_vec.append(None)

for pred_idx in range(len(predictions)):
    pred = predictions[pred_idx]
    label = labels[pred_idx]

    class_cnts[label] += 1
    if pred == label:
        correct_cnts[label] += 1

for class_idx in range(n_classes):
    confusion_vec[class_idx] = correct_cnts[class_idx]/class_cnts[class_idx]
print("Confusion vector:", confusion_vec)

Confusion vector: [0.5, 0.5, 1.0]

In [ ]:
#79번 Histogram 구하기
scores = [50,20,30,40,10,50,70,80,90,20,30]
cutoffs = [0,20,40,60,80]
histogram = [0,0,0,0,0]

for score in scores:
    if score > cutoffs[4]:
        histogram[4] += 1
    elif score > cutoffs[3]:
        histogram[3] += 1
    elif score > cutoffs[2]:
        histogram[2] += 1
    elif score > cutoffs[1]:
        histogram[1] += 1
    elif score > cutoffs[0]:
        histogram[0] += 1
    else:
        pass
print('점수들의 히스토그램:', histogram)

점수들의 히스토그램: [3, 3, 2, 2, 1]

In [ ]:
#80번 절댓값 구하기
numbers = [-2,2,-1,3,-4,9]
abs_numbers = list()

for num in numbers:
    if num < 0 :
        abs_numbers.append(-num)
    else:
        abs_numbers.append(num)
print(abs_numbers)

[2, 2, 1, 3, 4, 9]