<a href="https://colab.research.google.com/github/cowsilver57/sessac_test/blob/main/5_Python_100%EC%A0%9C_(81_93).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#81번 Manhattan Distance

v1 = [1,3,5,2,1,5,2]
v2 = [2,3,1,5,2,1,3]

m_distance = 0
for dim_idx in range(len(v1)):
    sub = v1[dim_idx] - v2[dim_idx]
    if sub < 0 :
        m_distance += -sub
    else:
        m_distance += sub
print("맨해튼 거리:", m_distance)

맨해튼 거리: 14

In [ ]:
#82번 Nested List 만들기
scores = [[10,20,30],[50,60,70]]

print(scores)
print(scores[0])
print(scores[1])
print(scores[0][1])

#83번 Nested List 원소 접근하기
scores = [[10,20,30], [50,60,70]]
for student_scores in scores:
    print(student_scores)
    for score in student_scores:
        print(score)

[[10, 20, 30], [50, 60, 70]]
[10, 20, 30]
[50, 60, 70]
20
[10, 20, 30]
10
20
30
[50, 60, 70]
50
60
70

In [ ]:
#84번 학생별 평균점수 구하기
scores = [[10,15,20],[20,25,30],[30,35,40],[40,45,50]]

n_class = len(scores[0])
student_score_means = list()

for student_scores in scores:
    student_score_sum = 0
    for score in student_scores:
        student_score_sum += score
    student_score_means.append(student_score_sum/n_class)

print("학생별 평균점수:", student_score_means)

학생별 평균점수: [15.0, 25.0, 35.0, 45.0]

In [ ]:
#85번 과목별 평균점수
scores = [[10,15,20],[20,25,30],[30,35,40],[40,45,50]]

n_student = len(scores)
n_class = len(scores[0])

class_score_sums, class_score_means = list(), list()

for _ in range(n_class):
    class_score_sums.append(0)

for student_scores in scores:
    for class_idx in range(n_class):
        class_score_sums[class_idx] += student_scores[class_idx]
print("각 과목별 점수 총합:", class_score_sums)

for class_idx in range(n_class):
    class_score_means.append(class_score_sums[class_idx]/n_student)
print("각 과목별 평균 점수:", class_score_means)

각 과목별 점수 총합: [100, 120, 140]
각 과목별 평균 점수: [25.0, 30.0, 35.0]

In [ ]:
#86번 Mean Subtraction

scores = [[10,15,20],[20,25,30],[30,35,40],[40,45,50]]
n_student = len(scores)
n_class = len(scores[0])

class_score_sum, class_score_mean = list(), list()

for _ in range(n_class):
    class_score_sum.append(0)

for student_scores in scores:
    for class_idx in range(n_class):
        class_score_sum[class_idx] += student_scores[class_idx]
for class_idx in range(n_class):
    class_score_mean.append(class_score_sum[class_idx]/n_student)
print("과목별 점수 평균:", class_score_mean)

for student_idx in range(n_student):
    for class_idx in range(n_class):
        scores[student_idx][class_idx] -= class_score_mean[class_idx]

class_score_sum, class_score_mean = list(), list()

for _ in range(n_class):
    class_score_sum.append(0)

for student_scores in scores:
    for class_idx in range(n_class):
        class_score_sum[class_idx] += student_scores[class_idx]
for class_idx in range(n_class):
    class_score_mean.append(class_score_sum[class_idx]/n_student)
print("MS 후 과목별 점수 평균:", class_score_mean)

과목별 점수 평균: [25.0, 30.0, 35.0]
MS 후 과목별 점수 평균: [0.0, 0.0, 0.0]

In [ ]:
#87번 분산과 표준편차
scores = [[10,15,20],[20,25,30],[30,35,40],[40,45,50]]
n_student = len(scores)
n_class = len(scores[0])

class_score_sums, class_score_square_sums = list(), list()
class_score_variance, class_score_std = list(), list()

#class_score_sums, class_score_square_sums에 class_idx에 맞게 빈자리 넣어주기
for _ in range(n_class):
    class_score_sums.append(0)
    class_score_square_sums.append(0)

for student_scores in scores:
    for class_idx in range(n_class):
        class_score_sums[class_idx] += student_scores[class_idx]
        class_score_square_sums[class_idx] += student_scores[class_idx]**2

for class_idx in range(n_class):
    mean_of_square = class_score_square_sums[class_idx] / n_student
    square_of_mean = (class_score_sums[class_idx]/n_student)**2

    variance = mean_of_square - square_of_mean
    std = variance**0.5

    class_score_variance.append(variance)
    class_score_std.append(std)

print("분산:", class_score_variance)
print("표준편차:", class_score_std)

분산: [125.0, 125.0, 125.0]
표준편차: [11.180339887498949, 11.180339887498949, 11.180339887498949]

In [ ]:
#88번 Standardization
scores= [[10,15,20],[20,25,30],[30,35,40],[40,45,50]]
n_student = len(scores)
n_class= len(scores[0])

class_score_sums, class_score_square_sums = list(), list()
class_score_var, class_score_std = list(), list()

for _ in range(n_class):
    class_score_sums.append(0)
    class_score_square_sums.append(0)

for student_scores in scores:
    for class_idx in range(n_class):
        class_score_sums[class_idx] += student_scores[class_idx]
        class_score_square_sums[class_idx] += (student_scores[class_idx])**2

for class_idx in range(n_class):
    mos = class_score_square_sums[class_idx] / n_student
    som = (class_score_sums[class_idx] / n_student)**2

    var = mos-som
    std = var**0.5

    class_score_var.append(var)
    class_score_std.append(std)
print("각 과목별 표준편차:", class_score_std)

#여기서부터 standardization을 시행한다.
for student_idx in range(n_student):
    for class_idx in range(n_class):
        score = scores[student_idx][class_idx]
        mean = class_score_means[class_idx]
        std = class_score_std[class_idx]

        scores[student_idx][class_idx] = (score-mean)/std
print("ST 후의 점수:", scores)

#여기서부터 다시 분산과 표준편차를 구해서 표준편차가 1이 나오는지 확인하면 됨.
class_score_sums, class_score_square_sums = list(), list()
class_score_var, class_score_std = list(), list()

for _ in range(n_class):
    class_score_sums.append(0)
    class_score_square_sums.append(0)

for student_scores in scores:
    for class_idx in range(n_class):
        class_score_sums[class_idx] += student_scores[class_idx]
        class_score_square_sums[class_idx] += (student_scores[class_idx])**2

for class_idx in range(n_class):
    mos = class_score_square_sums[class_idx] / n_student
    som = (class_score_sums[class_idx] / n_student)**2

    var = mos-som
    std = var**0.5

    class_score_var.append(var)
    class_score_std.append(std)
print("ST 후의 각 과목별 표준편차:", class_score_std)

각 과목별 표준편차: [11.180339887498949, 11.180339887498949, 11.180339887498949]
ST 후의 점수: [[-1.3416407864998738, -1.3416407864998738, -1.3416407864998738], [-0.4472135954999579, -0.4472135954999579, -0.4472135954999579], [0.4472135954999579, 0.4472135954999579, 0.4472135954999579], [1.3416407864998738, 1.3416407864998738, 1.3416407864998738]]
ST 후의 각 과목별 표준편차: [1.0, 1.0, 1.0]

In [ ]:
#89번 Hadamard Product

vectors = [[1,11,21],[2,12,22],[3,13,23,],[4,14,24]]

h_prod = list()
for dim_data in vectors:
    dim_prod = 1
    for dim_val in dim_data:
        dim_prod *= dim_val
    h_prod.append(dim_prod)
print(h_prod)

[231, 528, 897, 1344]

In [ ]:
#90번 Vector Norm
vectors = [[1,11,21],[2,12,22],[3,13,23,],[4,14,24]]
n_vector = len(vectors[0])
v_norms = list()

for _ in range(n_vector):
    v_norms.append(0)
print(v_norms)

for dim_data in vectors:
    for dim_idx in range(n_vector):
        v_norms[dim_idx] += dim_data[dim_idx]**2
print(v_norms)

for vec_idx in range(n_vector):
    v_norms[vec_idx] **= 0.5
print(v_norms)

[0, 0, 0]
[30, 630, 2030]
[5.477225575051661, 25.099800796022265, 45.05552130427524]

In [ ]:
#91번 Making Unit Vectors
vectors = [[1,11,21],[2,12,22],[3,13,23,],[4,14,24]]
n_vector = len(vectors[0])
v_norms = list()

for _ in range(n_vector):
    v_norms.append(0)

for dim_data in vectors:
    for dim_idx in range(n_vector):
        v_norms[dim_idx] += dim_data[dim_idx]**2

for vec_idx in range(n_vector):
    v_norms[vec_idx] **= 0.5
print("Vector Norms:", v_norms)

n_dim = len(vectors)
for dim_idx in range(n_dim):
    for vec_idx in range(n_vector):
        vectors[dim_idx][vec_idx] /= v_norms[vec_idx]

v_norms = list()
for _ in range(n_vector):
    v_norms.append(0)

for dim_data in vectors:
    for dim_idx in range(n_vector):
        v_norms[dim_idx] += dim_data[dim_idx]**2

for vec_idx in range(n_vector):
    v_norms[vec_idx] **= 0.5
print("Unit Vector:", v_norms)

Vector Norms: [5.477225575051661, 25.099800796022265, 45.05552130427524]
Unit Vector: [0.9999999999999999, 1.0, 1.0]

In [ ]:
#92번 Dot Product
vectors = [[1,11,21],[2,12,22],[3,13,23,],[4,14,24]]

d_prod = 0
for dim_data in vectors:
    d_prod += dim_data[0]*dim_data[1]
print("Dot Product:", d_prod)

Dot Product: 130

In [ ]:
#93번 Euclidean Distance
vectors = [[1,11,21],[2,12,22],[3,13,23,],[4,14,24]]
e_distance = 0

for dim_data in vectors:
    diff = dim_data[0] - dim_data[1]
    diff_square = diff**2

    e_distance += diff_square

e_distance **= 0.5
print("Euclidean distance", e_distance)

Euclidean distance 20.0

In [ ]:
#94번 과목별 최고점, 최우수 학생 구하기

scores = [[10,40,20],
          [50,20,60],
          [70,40,30],
          [30,80,40,]]

n_student = len(scores)
n_class = len(scores[0])

M_classes = scores[0]