<a href="https://colab.research.google.com/github/cowsilver57/sessac_test/blob/main/Chapter8_1130_%EB%AA%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
#github와 colab 연동
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata

fatal: destination path 'yemoonsaBigdata' already exists and is not an empty directory.

#1유형

기출 3회 1번

In [ ]:
import pandas as pd

df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/301_housing.csv')
df_drop = df.dropna().reset_index()

rst_df = df_drop.iloc[:int(len(df_drop)*0.7)]
result = int(rst_df['housing_median_age'].quantile(0.25))
print(result)

19

기출 3회 2번

In [ ]:
import pandas as pd

data = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/302_worlddata.csv')
print(data.head())
print('-'*80)

#'year' 열 값이 2000인 행들을 선택하고, 'year' 열을 삭제한 결과를 새로운 데이터프레임인 df_2000에 할당
data_2000 = data[data['year']==2000].drop('year', axis=1)
print(data_2000.head())
print('-'*80)

data_2000.index = ['value']
data_2000_T = data_2000.T
print(data_2000_T)
print('-'*80)

rst_df = data_2000_T[data_2000_T['value']>data_2000_T['value'].mean()]
print(rst_df)
print('-'*80)

result = len(rst_df)
print(result)

   year  Afghanistan  Albania  Algeria  Andorra  Angola  Antigua & Barbuda  \
0  1999            0     89.0     25.0    245.0   217.0              102.0
1  2000            0    132.0      0.0    138.0    57.0              128.0
2  2001            0     54.0     14.0    312.0    45.0               45.0
3  2002            0      4.9      0.7     12.4     5.9                4.9

   Argentina  Armenia  Australia  ...  Tanzania    USA  Uruguay  Uzbekistan  \
0      193.0     21.0      261.0  ...      36.0  249.0    115.0        25.0
1       25.0    179.0       72.0  ...       6.0  158.0     35.0       101.0
2      221.0     11.0      212.0  ...       1.0   84.0    220.0         8.0
3        8.3      3.8       10.4  ...       5.7    8.7      6.6         2.4

   Vanuatu  Venezuela  Vietnam  Yemen  Zambia  Zimbabwe
0     21.0      333.0      111    6.0    32.0      64.0
1     18.0      100.0        2    0.0    19.0      18.0
2     11.0        3.0        1    0.0     4.0       4.0
3      0.9        7.7        2    0.1     2.5       4.7

[4 rows x 194 columns]
--------------------------------------------------------------------------------
   Afghanistan  Albania  Algeria  Andorra  Angola  Antigua & Barbuda  \
1            0    132.0      0.0    138.0    57.0              128.0

   Argentina  Armenia  Australia  Austria  ...  Tanzania    USA  Uruguay  \
1       25.0    179.0       72.0     75.0  ...       6.0  158.0     35.0

   Uzbekistan  Vanuatu  Venezuela  Vietnam  Yemen  Zambia  Zimbabwe
1       101.0     18.0      100.0        2    0.0    19.0      18.0

[1 rows x 193 columns]
--------------------------------------------------------------------------------
             value
Afghanistan    0.0
Albania      132.0
Algeria        0.0
Andorra      138.0
Angola        57.0
...            ...
Venezuela    100.0
Vietnam        2.0
Yemen          0.0
Zambia        19.0
Zimbabwe      18.0

[193 rows x 1 columns]
--------------------------------------------------------------------------------
                      value
Albania               132.0
Andorra               138.0
Antigua & Barbuda     128.0
Armenia               179.0
Bahamas               176.0
...                     ...
United Arab Emirates  135.0
United Kingdom        126.0
USA                   158.0
Uzbekistan            101.0
Venezuela             100.0

[76 rows x 1 columns]
--------------------------------------------------------------------------------
76

기출 3회 3번

In [ ]:
import pandas as pd

df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/303_titanic.csv')
print(df.head())
print('-'*80)

null = df.isnull().sum().reset_index()
null.columns = ['var', 'count']
print(null)
print('-'*80)

result = null.loc[null['count']==null['count'].max(),'var'].values[0]
print(result)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   C85        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500  C123        S
--------------------------------------------------------------------------------
            var  count
0   PassengerId      0
1      Survived      0
2        Pclass      0
3          Name      0
4           Sex      0
5           Age    177
6         SibSp      0
7         Parch      0
8        Ticket      0
9          Fare      0
10        Cabin    118
11     Embarked      2
--------------------------------------------------------------------------------
Age

#2유형

In [87]:
import pandas as pandas

X_test = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/204_x_test.csv')
X_train = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/204_x_train.csv')
y_train = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/204_y_train.csv')

#데이터 살펴보기
# print(X_test.head())
# print(X_train.head())
# print(y_train.head())

# print(X_test.info())
# print(X_train.info())
# print(y_train.info())

# print(X_test.isnull().sum())
# print(X_train.isnull().sum())
# print(y_train.isnull().sum())

#데이터 분류하기
COL_DEL = ['ID']
COL_NUM = ['Customer_care_calls', 'Customer_rating', 'Cost_of_the_Product','Prior_purchases','Discount_offered','Weight_in_gms']
COL_CAT = ['Warehouse_block', 'Mode_of_Shipment','Product_importance','Gender']
COL_Y = ['Reached.on.Time_Y.N']

#데이터 분할하기
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train[COL_NUM+COL_CAT],
                                            y_train[COL_Y].values.ravel(),
                                            test_size=0.3,
                                            stratify = y_train[COL_Y].values.ravel())

#데이터 스케일링
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_tr[COL_NUM])

X_tr[COL_NUM] = scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])
X_test[COL_NUM] = scaler.transform(X_test[COL_NUM])

#데이터 인코딩
from sklearn.preprocessing import LabelEncoder

X = pd.concat([X_train[COL_CAT], X_test[COL_CAT]])

for col in COL_CAT:
    le = LabelEncoder()
    le.fit(X[col])
    X_tr[col] = le.transform(X_tr[col])
    X_val[col] = le.transform(X_val[col])
    X_test[col] = le.transform(X_test[col])

#모델 학습시키기
from sklearn.ensemble import RandomForestClassifier
modelRF = RandomForestClassifier(random_state=123)
modelRF.fit(X_tr, y_tr)

#예측 결과값 생성하기
y_val_predRF = modelRF.predict_proba(X_val)[:,1]

#평가지표 구하기
from sklearn.metrics import roc_auc_score
scoreRF = roc_auc_score(y_val, y_val_predRF)
print('Random Forest:', scoreRF)

#하이퍼파라미터 조정
modelRF2 = RandomForestClassifier(n_estimators=50, max_depth=3, random_state=123)
modelRF2.fit(X_tr, y_tr)
y_val_predRF2 = modelRF2.predict_proba(X_val)[:,1]
scoreRF2 = roc_auc_score(y_val, y_val_predRF2)

modelRF3 = RandomForestClassifier(n_estimators=50, max_depth=5, random_state=123)
modelRF3.fit(X_tr, y_tr)
y_val_predRF3 = modelRF3.predict_proba(X_val)[:,1]
scoreRF3 = roc_auc_score(y_val, y_val_predRF3)

print('Random Forest2:', scoreRF2)
print('Random Forest3:', scoreRF3)

#roc는 점수가 높을 수록 성능이 좋은 것! Random Forest 2 선택
#최종 결괏값 생성하기
pred = modelRF2.predict_proba(X_test[COL_NUM + COL_CAT])[:,1]
result = pd.DataFrame({'ID':X_test.ID, 'pred':pred})
print(result.head())

#파일 저장하기
# result.to_csv('007000955.csv', index=False)

Random Forest: 0.7441817318253332
Random Forest2: 0.7512144362598543
Random Forest3: 0.7488237302223409
      ID      pred
0   7007  0.468934
1   9793  0.470954
2   6593  0.489017
3  10527  0.440211
4   6914  0.523321

#3유형

Airquality

In [ ]:
#단일표본 T-검정
import pandas as pd
import scipy.stats as stats
from math import sqrt

a = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/airquality.csv')
print(a.head())

print('-'*80)

X = a['Wind'].mean()
print(round(X,2))
print('-'*80)

t_score, p_value = stats.ttest_1samp(a['Wind'],10)
print(round(t_score,2))
print('-'*80)

print(round(p_value,4))
print('-'*80)

if p_value>0.05:
    print('채택')
else:
    print('기각')

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5
--------------------------------------------------------------------------------
9.96
--------------------------------------------------------------------------------
-0.15
--------------------------------------------------------------------------------
0.8816
--------------------------------------------------------------------------------
채택

Chickweight

In [ ]:
#독립표본 T-검정
import pandas as pd
import scipy.stats as stats
from math import sqrt

b = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/chickweight.csv')
print(b.head())
print('-'*80)

b1 = b.loc[b.Diet==1]
b4 = b.loc[b.Diet==4]

b1_X = b1['weight'].mean()
b4_X = b4['weight'].mean()
print(round(b1_X,2), round(b4_X,2))
print('-'*80)

t_score,p_value = stats.ttest_ind(b1['weight'], b4['weight'], equal_var=False)
print(round(t_score,2))
print('-'*80)

print(round(p_value,4))
print('-'*80)

if p_value>0.05:
    print('채택')
else:
    print('기각')

   weight  Diet
0      42     1
1      51     1
2      59     1
3      64     1
4      76     1
--------------------------------------------------------------------------------
102.65 135.26
--------------------------------------------------------------------------------
-4.41
--------------------------------------------------------------------------------
0.0
--------------------------------------------------------------------------------
기각

StudentsPerformance1

In [ ]:
#일원분산분석
import pandas as pd
import scipy.stats as stats
from math import sqrt

c = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/StudentsPerformance1.csv', encoding='cp949')
print(c.head())
print('-'*80)

X_A = c.loc[c.인종=='A그룹','수학 점수']
X_B = c.loc[c.인종=='B그룹','수학 점수']
X_C = c.loc[c.인종=='C그룹','수학 점수']
X_D = c.loc[c.인종=='D그룹','수학 점수']

X_A_mean = X_A.mean()
X_B_mean = X_B.mean()
X_C_mean = X_C.mean()
X_D_mean = X_D.mean()
print(round(X_A_mean,2), round(X_B_mean,2), round(X_C_mean,2), round(X_D_mean,2))
print('-'*80)

test_result = stats.f_oneway(X_A, X_B, X_C, X_D)
print(round(test_result.statistic,2))
print('-'*80)

p_value = test_result.pvalue
print(round(p_value,4))
print('-'*80)

if p_value>0.05:
    print('채택')
else:
    print('기각')

   ID   인종  수학 점수  읽기 점수  쓰기 점수
0   1  B그룹     72     72     74
1   2  C그룹     69     90     88
2   3  B그룹     90     95     93
3   4  A그룹     47     57     44
4   5  C그룹     76     78     75
--------------------------------------------------------------------------------
61.63 63.45 64.46 67.36
--------------------------------------------------------------------------------
4.66
--------------------------------------------------------------------------------
0.0031
--------------------------------------------------------------------------------
기각

StudentsPerformance2

In [ ]:
#카이제곱 독립성 검정
import pandas as pd
import scipy.stats as stats
from math import sqrt

d = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/StudentsPerformance2.csv', encoding='cp949')
print(d.head())
print('-'*80)

table = pd.crosstab(d['성별'],d['학업 성적'])
print(table)
print('-'*80)

X1 = table.loc['남성',:]
X2 = table.loc['여성',:]

X1_G = X1['우수']
X2_G = X2['우수']
print(X1_G - X2_G)
print('-'*80)

test_result = stats.chi2_contingency([X1,X2])
print(round(test_result.statistic,2))
print('-'*80)

p_value = test_result.pvalue
print(round(p_value,4))
print('-'*80)

if p_value>0.05:
    print('채택')
else:
    print('기각')

   ID  성별 부모 학력 수준 학업 성적
0   1  여성       중간    보통
1   2  여성       낮음    우수
2   3  여성       높음    우수
3   4  남성       중간    낮음
4   5  남성       낮음    보통
--------------------------------------------------------------------------------
학업 성적   낮음   보통   우수
성별
남성     115  283   84
여성      83  313  122
--------------------------------------------------------------------------------
-38
--------------------------------------------------------------------------------
12.41
--------------------------------------------------------------------------------
0.002
--------------------------------------------------------------------------------
기각