<a href="https://colab.research.google.com/github/cowsilver57/sessac_test/blob/main/Chapter8_1125_%ED%86%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1유형

In [2]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

21번 주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라

In [ ]:
target = df.groupby('Country').sum().sort_values('Goals',ascending=False)
print(target.head())

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

<ipython-input-22-565103145403>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  target = df.groupby('Country').sum().sort_values('Goals',ascending=False)

22번 주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라

In [ ]:
result = df.groupby('Country').size().sort_values(ascending=False)
print(result.iloc[:5])

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

23번

Years 컬럼은 년도-년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다.

년도 표기가 4자리 숫자로 안된 케이스가 존재한다.

해당 건은 몇건인지 출력하라

In [4]:
#데이터프레임(df)의 'Years' 열을 하이픈('-')을 기준으로 분할하여 'yearLst' 열에 저장
df['yearLst'] = df.Years.str.split('-')

#value의 길이가 4가 아니면 False, 맞으면 True
def checkFour(x):
    for value in x:
        if len(str(value)) != 4:
            return False
    return True

#yearLst 데이터를 checkFour 함수에 적용해서 value를 저장
df['check'] = df['yearLst'].apply(checkFour)

#check=False인 data의 개수
result = len(df[df.check==False])
print(result)

45

24번

23번에서 발생한 예외 케이스를 제외한 데이터프레임을 df2라고 정의하고 데이터의 행의 숫자를 출력하라 (아래 문제부터는 df2로 풀이하겠습니다)

In [6]:
df2 = df[df.check==True].reset_index(drop=True)
print(df2.shape[0])

1250

In [7]:
df2.head()

,Player,Goals,Years,Country,yearLst,check
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True
3,Just Fontaine,13,1958,France,[1958],True
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True

25번 월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라

In [9]:
df2['LenCup'] = df2['yearLst'].str.len()
result = df2['LenCup'].value_counts()[4]
print(result)

16

26번 Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라

In [10]:
result = len(df2[(df2.LenCup==2)*(df2.Country=='Yugoslavia')])
print(result)

7

27번 2002년도에 출전한 전체 선수는 몇명인가?

In [11]:
result = len(df2[df2.Years.str.contains('2002')])
print(result)

156

28번 이름에 ‘carlos’ 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)

In [12]:
result = len(df2[df2.Player.str.lower().str.contains('carlos')])
print(result)

13

29번 월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?

In [13]:
result = df2[df2.LenCup==1].sort_values('Goals', ascending=False).Player.values[0]
print(result)

Just Fontaine

30번 월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?

In [14]:
result = df2[df2.LenCup==1].Country.value_counts().index[0]
print(result)

Brazil

31번 대여일자별 데이터의 수를 데이터프레임으로 출력하고, 가장 많은 데이터가 있는 날짜를 출력하라

In [17]:
result = df['대여일자'].value_counts().sort_index().to_frame()
result2 = result[result.대여일자==result.대여일자.max()].index[0]
display(result)
print(result2)

             대여일자
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

2021-06-04

32번 각 일자의 요일을 표기하고 (‘Monday’ ~’Sunday’) ‘day_name’컬럼을 추가하고 이를 이용하여 각 요일별 이용 횟수의 총합을 데이터 프레임으로 출력하라

In [25]:
df['대여일자'] = pd.to_datetime(df['대여일자'])
df['day_name']  = df['대여일자'].dt.day_name()

result =  df.day_name.value_counts().to_frame()
print(result)

           day_name
Wednesday    110607
Friday       108877
Monday       107568
Tuesday      103704
Saturday     101299
Sunday        90918
Thursday      55977

33번 각 요일별 가장 많이 이용한 대여소의 이용횟수와 대여소 번호를 데이터 프레임으로 출력하라

In [27]:
result = df.groupby(['day_name','대여소번호']).size().to_frame('size').sort_values(['day_name','size'],ascending=False).reset_index()
result2 = result.drop_duplicates('day_name', keep='first').reset_index(drop=True)
print(result2)

    day_name  대여소번호  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

In [15]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         대여일자  대여시간  대여소번호 대여구분코드 성별 연령대코드  이용건수    운동량   탄소량     이동거리  사용시간
0  2021-06-01     0   3541    정기권  F  ~10대     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    정기권  F  ~10대     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    정기권  F  ~10대     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    정기권  F  ~10대     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    정기권  F  ~10대     1  13.04  0.17   731.55     6

34번 나이대별 대여구분 코드의 (일일권/전체횟수) 비율을 구한 후 가장 높은 비율을 가지는 나이대를 확인하라. 일일권의 경우 일일권 과 일일권(비회원)을 모두 포함하라

In [29]:
daily = df[df.대여구분코드.isin(['일일권','일일권(비회원)'])].연령대코드.value_counts().sort_index()
total = df.연령대코드.value_counts().sort_index()

ratio = (daily/total).sort_values(ascending=False)
print(ratio)
print('max ratio age', ratio.index[0])

~10대    0.312525
20대     0.239913
30대     0.166702
40대     0.110585
50대     0.065414
70대~    0.048962
60대     0.042462
Name: 연령대코드, dtype: float64
max ratio age ~10대

35번 연령대별 평균 이동거리를 구하여라

In [30]:
result = df[['연령대코드','이동거리']].groupby(['연령대코드']).mean()
print(result)

              이동거리
연령대코드
20대    3211.890552
30대    3341.443859
40대    3514.857416
50대    3593.668100
60대    3538.145737
70대~   3085.039641
~10대   2634.426279

37번 6월 7일 ~10대의 “이용건수”의 중앙값은?

In [31]:
df['대여일자'] = pd.to_datetime(df['대여일자'])
result = df[(df.연령대코드=='~10대')&(df.대여일자==pd.to_datetime('2021-06-07'))].이용건수.median()
print(result)

1.0

39번 이동거리의 평균 이상의 이동거리 값을 가지는 데이터를 추출하여 추출데이터의 이동거리의 표본표준편차 값을 구하여라

In [32]:
result = df[df.이동거리 >= df.이동거리.mean()].reset_index(drop=True).이동거리.std()
print(result)

5092.139707505356

#3유형

In [1]:
#github와 colab 연동
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 637, done.
remote: Counting objects: 100% (274/274), done.
remote: Compressing objects: 100% (165/165), done.
remote: Total 637 (delta 136), reused 184 (delta 109), pack-reused 363
Receiving objects: 100% (637/637), 10.76 MiB | 17.83 MiB/s, done.
Resolving deltas: 100% (321/321), done.

##1. 단일표본 T-검정

In [7]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

a = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/trees.csv')
a.head()
X = a['Height'].mean()
print(round(X,2))
t_score, p_value = stats.ttest_1samp(a['Height'],75)
print(round(t_score,2))
print(round(p_value,4))

if p_value >0.05:
    print('채택')
else:
    print('기각')

76.0
0.87
0.3892
채택

##2. 독립표본 T-검정

In [14]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

b = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/toothgrowth.csv')

#Levene 검정을 수행하여 두 그룹의 분산이 동일한지를 확인함.
#문제에서 등분산을 띈다고 했으므로 안해도 됨!
stats.levene(b.loc[b.supp=='VC','len'], b.loc[b.supp=='OJ','len'])

#먼저 supp가 VC, OG 별로 따로 data를 구성함.
VC_b = b.loc[b.supp=='VC']
OJ_b = b.loc[b.supp=='OJ']

#data별로 len의 평균을 구함.
VC_X = VC_b['len'].mean()
OJ_X = OJ_b['len'].mean()
print(round(VC_X,2), round(OJ_X,2))

#검정통계량과 유의값을 구함.
t_score, p_value = stats.ttest_ind(VC_b['len'], OJ_b['len'], equal_var=True)
print(round(t_score,2))
print(round(p_value,4))
if p_value>0.05:
    print('채택')
else:
    print('기각')

16.96 20.66
-1.92
0.0604
채택

##3. 쌍체표본 T-검정

In [21]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

c = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/insectsprays.csv')

diff = c['after_spr'] - c['before_spr']
m_d = diff.mean()
print(round(m_d,2))

#쌍체표본 T-검정을 수행하여 두 그룹 간의 관측값의 차이가 특정 방향으로 유의한지를 확인함.
#특정방향 = 'greater'='after_spr'이 'before_spr' 큰지!
t_score, p_value = stats.ttest_rel(c['before_spr'], c['after_spr'], alternative='greater')
print(round(t_score,2))
print(round(p_value,4))

if p_value>0.05:
    print('채택')
else:
    print('기각')

-12.0
14.89
0.0
기각

##4. 일원분산분석

In [29]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

d = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/iris.csv')

result = d.loc[d['species']=='versicolor','sepal_width'].mean()
print(round(result,2))

X1 = d.loc[d['species']=='setosa','sepal_width']
X2 = d.loc[d['species']=='versicolor','sepal_width']
X3 = d.loc[d['species']=='virginica','sepal_width']

test_result = stats.f_oneway(X1,X2,X3)
print(round(test_result.statistic,2))

p_value = test_result.pvalue
print(round(p_value,4))

if p_value>0.05:
    print('채택')
else:
    print('기각')

2.77
49.16
0.0
기각

##5. 카이제곱 적합도 검정

In [40]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

e = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/cellphone.csv')
count_df = e.groupby('제조사').count()
print(count_df)

result = count_df.loc['삼성','id'] - count_df.loc['애플','id']
print(result)

total_sum = len(e)
expected = [int(total_sum*0.1),
            int(total_sum*0.6),
            int(total_sum*0.3)]
print(expected)

observed = count_df['id'].values
test_result = stats.chisquare(observed, f_exp=expected)
result = round(test_result.statistic,2)
print(result)

p_value = test_result.pvalue
print(round(p_value,4))

if p_value>0.05:
    print('채택')
else:
    print('기각')

      id
제조사
기타     5
삼성   117
애플    78
39
[20, 120, 60]
16.73
0.0002
기각

##6. 카이제곱 독립성 검정

In [49]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

f = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/student.csv')
print(f.head())
table = pd.crosstab(f['단과대학'],f['수강 과목 수'])
print(table)
result = table[table['6개 이상']==table['6개 이상'].max()].index[0]
print(result)

X1 = table.loc['경영대학',:]
X2 = table.loc['자연대학',:]
X3 = table.loc['공과대학',:]
test_result = stats.chi2_contingency([X1, X2, X3])
result = test_result.statistic
print(round(result,2))

p_value = test_result.pvalue
print(round(p_value, 4))

if p_value>0.05:
    print('채택')
else:
    print('기각')

   ID  단과대학 수강 과목 수
0   1  경영대학   4개 이하
1   2  경영대학   4개 이하
2   3  경영대학   4개 이하
3   4  경영대학   4개 이하
4   5  경영대학   4개 이하
수강 과목 수  4개 이하  5개  6개 이상
단과대학
경영대학        12  78     30
공과대학        30  42     28
자연대학        30  42      8
경영대학
30.13
0.0
기각