<a href="https://colab.research.google.com/github/cowsilver57/sessac_test/blob/main/Chapter5_%EC%9E%91%EC%97%85%ED%98%95_%EC%A0%9C_1%EC%9C%A0%ED%98%95(11%EC%9D%BC%EC%B0%A8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
#github와 colab 연동
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata

import pandas as pd
data = pd.read_csv('/content/yemoonsaBigdata/datasets/Part2/iris.csv')

fatal: destination path 'yemoonsaBigdata' already exists and is not an empty directory.

#IRIS Data

## 문제 1. Iris 데이터 세트에서 species 변수 값별로 petal_width 상위 25% 값을 구한 후, 가장 큰 값과 가장 작은 값 사이의 차이를 계산하시오.

In [73]:
q1 = print(data.groupby('species')['petal_width'].quantile([0.75]))
max = 2.3
min = 0.3
result = round(max-min)
print(result)
#답 : 2

species
setosa      0.75    0.3
versicolor  0.75    1.5
virginica   0.75    2.3
Name: petal_width, dtype: float64
2

## 문제 2. Iris 데이터 세트에서 sepal_length 변수의 전체 값들을 중복 없이 리스트로 만든 후, 오름차순으로 정렬했을 때 리스트의 10번째에 오는 숫자를 계산하시오.

In [74]:
#unique 함수는 중복되지 않는 고유한 값들을 반환함.
#tolist 함수는 배열을 파이썬 리스트로 변환함. -> lst는 sepal_length 열의 고유한 값들을 포함한 리스트가 됨.
lst = data['sepal_length'].unique().tolist()
#lst를 오름차순으로 정렬
lst.sort()
#10번째 오는 숫자 출력
lst[9]
#답 : 5.2

5.2

## 문제 3. Iris 데이터 세트를 sepal_width 변수 값으로 내림차순한 후 위에서부터 100개 행을 학습 데이터로 분리하고, 학습 데이터에서 sepal_width의 표준편차 값을 구한 후, 50을 곱한 값을 계산하시오.(최종 계산 값의 소수점 이하는 버린다.)

In [75]:
#내림차순으로 정렬할 때, ascending=False 사용
sorted_data = data.sort_values(by='sepal_width', ascending=False).reset_index(drop=True)
#100개의 행을 학습 데이터로 분리
sorted_data_split = sorted_data.loc[0:99]
#소수점 이하를 버릴 때 int 함수 사용
int(sorted_data_split['sepal_width'].std()*50)
#답 : 16

16

## 문제 4. Iris 데이터 세트에서 species 변수 값별로 petal_length 상위 10개 행(큰 값)의 평균값을 구한 후, 평균값의 합을 계산하시오.(최종 계산 값의 소수점 이하는 반올림한다.)

In [76]:
#species 열은 오름차순으로 정렬되며, petal_length 값은 내림차순으로 정렬됨.
data = data.sort_values(by=['species','petal_length'], ascending=[True, False])
#상위 10개 행 구하기
data_top10 = data.groupby('species').head(10)
#mean으로 평균값, sum으로 그 합을, round로 반올림
print(round(data_top10.groupby('species')['petal_length'].mean().sum()))
#답 : 13

13

## 문제 5. Iris 데이터 세트에서 sepal_length 변수가 이상치를 가지는 데이터 행 수를 계산하시오. (단, 이상치 범위는(평균+2*표준편차) 이상이거나 (평균-2*표준편차) 이하이다.)

In [77]:
mean = data['sepal_length'].mean()
std = data['sepal_length'].std()
crit1 = mean + 2*std
crit2 = mean - 2*std
data[(data['sepal_length']>=crit1)|(data['sepal_length']<=crit2)]
#답 : 6

     sepal_length  sepal_width  petal_length  petal_width    species
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

# WINE Data

In [78]:
data = pd.read_csv('/content/yemoonsaBigdata/datasets/Part2/wine.csv')

##문제 1. Wine 데이터 세트에서 total_phenols 결측치를 제거하고 alcalinity_of_ash 변수의 결측치는 중앙값으로 대체한 후, alcalinity_of_ash 평균값을 계산하시오.(최종 계산 값의 소수점 이하는 버린다.)

In [79]:
#notnull이 아닌 값만 data_drop에 저장
data_drop = data[data['total_phenols'].notnull()]
#alcalinity_of_ash의 중앙값 구하기
med = data_drop['alcalinity_of_ash'].median()
#alcalinity_of_ash의 null 값은 위의 중앙값과 같음.
data_drop.loc[data_drop['alcalinity_of_ash'].isnull(), 'alcalinity_of_ash'] = med
print(round(data_drop['alcalinity_of_ash'].mean()))
#답 : 19

19

##문제 2. Wine 데이터 세트에서 값이 alcohol 평균 값 이상이고, color_intensity 값이 color_intensity 평균 값 이상인 데이터만 남겼을 때, 가장 많은 class의 값을 구하시오.

In [80]:
mean_val1 = data['alcohol'].mean()
mean_val2 = data['color_intensity'].mean()
data_filtered = data[(data['alcohol']>=mean_val1)&(data['color_intensity']>=mean_val2)]
#value_counts는 개수를 세는 함수
print(data_filtered['class'].value_counts())

#37개의 class를 가지고 있는 0 class
#답 : 0

0    37
2    23
1     1
Name: class, dtype: int64

## 문제 3. Wine 데이터 세트에서 class 1에 해당하는 데이터의 ash 평균값과 Wine 데이터 세트의 모든 결측치를 제거한 후의 ash 값의 평균값의 차이의 절댓값을 계산하시오.(최종 계산 값의 소수점 아래 4번째 자리에서 반올림한다.)

In [81]:
#첫 번째 행의 내용이 열 형태로 출력
print(data.head(1).T)

                                    0
alcohol                         14.23
malic_acid                       1.71
ash                              2.43
alcalinity_of_ash               15.60
magnesium                      127.00
total_phenols                    2.80
flavanoids                       3.06
nonflavanoid_phenols             0.28
proanthocyanins                  2.29
color_intensity                  5.64
hue                              1.04
od280/od315_of_diluted_wines     3.92
proline                       1065.00
class                            0.00

In [82]:
#class가 1인 data 중에서 'ash' 값의 평균
val1 = data[data['class']==1]['ash'].mean()
#결측치를 제거한 후의 'ash' 값의 평균
val2 = data.dropna()['ash'].mean()
#두 값의 차이의 절댓값 구하기 + 반올림
print(round(abs(val1-val2),3))
#답 : 0.12

0.12

##문제 4. Wine 데이터 세트에서 alcohol 변수의 상위에서 20번째 값 alcohol을 오름차순 정렬했을 때 20번째에 위치한 값으로 상위 20개의 값을 변환한 후, proanthocyanins가 2 이하인 데이터를 추출하여 alcohol의 평균값을 계산하시오. (최종 계산 값의 소수점 아래 3번째 자리에서 반올림한다.)

In [84]:
data_sorted = data.sort_values(by='alcohol', axis=0, ascending=True)
# drop=True는 이전 인덱스를 삭제하라는 옵션임.
data_sorted = data_sorted.reset_index(drop=True)
# 상위 20개의 값을 20번째에 위치한 값으로 변환함.
data_sorted.loc[0:19, 'alcohol'] = data_sorted.loc[19,'alcohol']
# 변환한 값을 포함한 데이터에서 pro~가 2 이하인 데이터 추출 => 그 후 alcohol의 평균값 계산하기
print(round(data_sorted[data_sorted['proanthocyanins']<=2]['alcohol'].mean(),2))
#답 : 12.97

12.97

##문제 5. Wine 데이터 세트에서 class 1에 해당하는 데이터의 proline 변수의 제 3사분위수와 제 1사분위수 차를 구하고, class 2에 해당하는 데이터의 proline 변수의 제 3사분위수와 제 1사분위수 차를 구하여 두 값의 차이의 절댓값을 계산하시오.

In [85]:
#1사분위수 = quantile([0.25]), 3사분위수 = quantile([0.75])
class1_q1, class1_q3 = data[data['class']==1]['proline'].quantile([0.25,0.75])
class2_q1, class2_q3 = data[data['class']==2]['proline'].quantile([0.25,0.75])
print(abs((class1_q1-class1_q3)-(class2_q1-class2_q3)))
#답 : 68.5

68.5