<a href="https://colab.research.google.com/github/cowsilver57/sessac_test/blob/main/Chapter8_1201_%EA%B8%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#github와 colab 연동
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 637, done.
remote: Counting objects: 100% (276/276), done.
remote: Compressing objects: 100% (167/167), done.
remote: Total 637 (delta 137), reused 184 (delta 109), pack-reused 361
Receiving objects: 100% (637/637), 10.76 MiB | 12.41 MiB/s, done.
Resolving deltas: 100% (321/321), done.

#1유형

기출 5회 1번

In [ ]:
import pandas as pd

df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/501_trash_bag.csv', encoding='cp949')
print(df.head())
print('-'*80)

target = df[(df.용도=='음식물쓰레기')&(df.사용대상=='가정용')]
rst_df = target[target['2L가격']!=0]
print(rst_df.head())
print('-'*80)

result = int(rst_df['2L가격'].mean())
print(result)

   시도명 시군구명       종류 처리방식      용도 사용대상  1L가격  1.5L가격  2L가격  2.5L가격  ...  5L가격  \
0  강원도  강릉시     규격봉투  매립용   생활쓰레기   기타     0       0     0       0  ...   130
1  강원도  강릉시  재사용규격봉투  매립용   생활쓰레기   기타     0       0     0       0  ...     0
2  강원도  고성군     규격봉투  소각용   생활쓰레기  가정용     0       0     0       0  ...   140
3  강원도  고성군     규격봉투  소각용  음식물쓰레기  가정용     0       0    60       0  ...   120
4  강원도  고성군   특수규격마대  매립용   생활쓰레기  가정용     0       0     0       0  ...     0

   10L가격  20L가격  30L가격  50L가격  60L가격  75L가격  100L가격  120L가격  125L가격
0    270    520      0   1250      0   1880       0       0       0
1    270    520      0      0      0      0       0       0       0
2    260    500      0   1220      0      0    2410       0       0
3      0      0      0      0      0      0       0       0       0
4      0      0      0   1540      0      0       0       0       0

[5 rows x 21 columns]
--------------------------------------------------------------------------------
    시도명 시군구명    종류 처리방식      용도 사용대상  1L가격  1.5L가격  2L가격  2.5L가격  ...  5L가격  \
3   강원도  고성군  규격봉투  소각용  음식물쓰레기  가정용     0       0    60       0  ...   120
9   강원도  양구군  규격봉투  매립용  음식물쓰레기  가정용     0       0    50       0  ...   120
12  강원도  양양군  규격봉투   기타  음식물쓰레기  가정용     0       0    40       0  ...    90
20  강원도  원주시  규격봉투   기타  음식물쓰레기  가정용     0       0    80       0  ...   170
33  강원도  춘천시  규격봉투  매립용  음식물쓰레기  가정용    40       0    50       0  ...   140

    10L가격  20L가격  30L가격  50L가격  60L가격  75L가격  100L가격  120L가격  125L가격
3       0      0      0      0      0      0       0       0       0
9     210    400      0      0      0      0       0       0       0
12    170    340      0      0      0      0       0       0       0
20    320    680      0   1690      0      0       0       0       0
33    230    470      0      0      0      0       0       0       0

[5 rows x 21 columns]
--------------------------------------------------------------------------------
119

기출 5회 2번

In [ ]:
import pandas as pd

df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/502_bmi.csv')
print(df.head())
print('-'*80)

df['BMI'] = df['Weight'] / ((df['Height']/100)**2)
print(df.head())
print('-'*80)

target_normal = len(df[(df['BMI']>=18.5)&(df['BMI']<23)])
target_over = len(df[(df['BMI']>=23)&(df['BMI']<25)])

result = int(target_normal - target_over)
print(result)

   Gender  Height  Weight
0    Male     174      96
1    Male     189      87
2  Female     185     110
3  Female     195     104
4    Male     149      61
--------------------------------------------------------------------------------
   Gender  Height  Weight        BMI
0    Male     174      96  31.708284
1    Male     189      87  24.355421
2  Female     185     110  32.140248
3  Female     195     104  27.350427
4    Male     149      61  27.476240
--------------------------------------------------------------------------------
28

기출 5회 3번

In [ ]:
import pandas as pd

df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/503_students.csv', encoding='cp949')
print(df.head())
print('-'*80)

df['순 전입학생'] = df['총 전입학생'] - df['총 전출학생']
print(df.head())
print('-'*80)

rst_df = df.groupby(['학교'])[['순 전입학생', '전체 학생 수']].sum()
print(rst_df.head())
print('-'*80)

result = rst_df.loc[rst_df['순 전입학생']==rst_df['순 전입학생'].max(), '전체 학생 수'].values[0]
print(result)

  학교  학년  총 전입학생  총 전출학생  전체 학생 수
0  A   1       9       1      222
1  A   2      13       4      148
2  A   3       8       7      196
3  B   1       7       5      171
4  B   2       9       1      216
--------------------------------------------------------------------------------
  학교  학년  총 전입학생  총 전출학생  전체 학생 수  순 전입학생
0  A   1       9       1      222       8
1  A   2      13       4      148       9
2  A   3       8       7      196       1
3  B   1       7       5      171       2
4  B   2       9       1      216       8
--------------------------------------------------------------------------------
    순 전입학생  전체 학생 수
학교
A       18      566
B       13      588
C       -9      528
D        7      548
E       14      603
--------------------------------------------------------------------------------
566

기출 4회 1번

In [ ]:
import numpy as np

lst = [2,3,3.2,5,7.5,10,11.8,12,23,25,31.5,34]

#제 1사분위수와 제 3사분위수를 구하시오.
q1 = np.quantile(lst, 0.25)
q3 = np.quantile(lst, 0.75)
print(q1, q3)
print('-'*80)

#제 1사분위수와 제 3사분위수 차이의 절댓값을 구하시오.
result = abs(q1-q3)
print(result)
print('-'*80)

#그 값의 소수점을 버린 후 정수로 출력하시오.
answer = int(result)
print(answer)

4.55 23.5
--------------------------------------------------------------------------------
18.95
--------------------------------------------------------------------------------
18

기출 4회 2번

In [ ]:
import pandas as pd
df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/402_facebook.csv')
print(df.head())
print('-'*80)

df['pos_ratio'] = (df['num_loves']+df['num_wows'])/df['num_reactions']
print(df.head())
print('-'*80)

rst_df = df[(df['pos_ratio']<0.5)&(df['pos_ratio']>0.4)&(df['status_type']=='video')]
result = len(rst_df)
print(result)

                          status_id status_type  num_reactions  num_comments  \
0  246675545449582_1649696485147474       video            529           512
1  246675545449582_1649426988507757       photo            150             0
2  246675545449582_1648730588577397       video            227           236
3  246675545449582_1648576705259452       photo            111             0
4  246675545449582_1645700502213739       photo            213             0

   num_shares  num_likes  num_loves  num_wows  num_hahas  num_sads  num_angrys
0         262        432         92         3          1         1           0
1           0        150          0         0          0         0           0
2          57        204         21         1          1         0           0
3           0        111          0         0          0         0           0
4           0        204          9         0          0         0           0
--------------------------------------------------------------------------------
                          status_id status_type  num_reactions  num_comments  \
0  246675545449582_1649696485147474       video            529           512
1  246675545449582_1649426988507757       photo            150             0
2  246675545449582_1648730588577397       video            227           236
3  246675545449582_1648576705259452       photo            111             0
4  246675545449582_1645700502213739       photo            213             0

   num_shares  num_likes  num_loves  num_wows  num_hahas  num_sads  \
0         262        432         92         3          1         1
1           0        150          0         0          0         0
2          57        204         21         1          1         0
3           0        111          0         0          0         0
4           0        204          9         0          0         0

   num_angrys  pos_ratio
0           0   0.179584
1           0   0.000000
2           0   0.096916
3           0   0.000000
4           0   0.042254
--------------------------------------------------------------------------------
90

기출 4회 3번

In [ ]:
import pandas as pd

df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/403_netflix.csv')
# print(df.head())
print('-'*80)

rst_df = df[df['date_added'].str.contains('January')&df['date_added'].str.contains('2018')]
print(rst_df.head())
print('-'*80)

result = len(rst_df[rst_df['country']=='United Kingdom'])
print(result)

--------------------------------------------------------------------------------
     show_id     type                                              title  \
5055   s5056    Movie                               Expedition Happiness
5056   s5057    Movie  Jerry Seinfeld: I'm Telling You for the Last Time
5057   s5058  TV Show                                        Retribution
5058   s5059    Movie                                         Holy Camp!
5059   s5060    Movie                        A Futile and Stupid Gesture

                           director  \
5055                   Selima Taibi
5056                  Marty Callner
5057                            NaN
5058  Javier Ambrossi, Javier Calvo
5059                     David Wain

                                                   cast         country  \
5055                         Selima Taibi, Felix Starck         Germany
5056                                     Jerry Seinfeld   United States
5057  Georgina Campbell, Joe Dempsie, Adrian Edmonds...  United Kingdom
5058  Macarena García, Anna Castillo, Belén Cuesta, ...           Spain
5059  Will Forte, Domhnall Gleeson, Martin Mull, Joe...   United States

            date_added  release_year rating  duration  \
5055  January 31, 2018          2017  TV-PG    96 min
5056  January 30, 2018          1998  TV-14    69 min
5057  January 30, 2018          2016  TV-MA  1 Season
5058  January 29, 2018          2017  TV-MA   108 min
5059  January 26, 2018          2018  TV-MA   102 min

                                              listed_in  \
5055                Documentaries, International Movies
5056                                    Stand-Up Comedy
5057  British TV Shows, Crime TV Shows, Internationa...
5058             Comedies, Dramas, Faith & Spirituality
5059                                           Comedies

                                            description
5055  A filmmaker and his musician girlfriend attemp...
5056  Months after his classic TV sitcom ends, the l...
5057  A dark web of secrets and lies emerges when a ...
5058  In this musical comedy, two rebellious teen gi...
5059  In a brief life full of triumph and failure, "...
--------------------------------------------------------------------------------
6

# 2유형

기출 5회

In [ ]:
import pandas as pd
import numpy as np

X_test = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/504_x_test.csv')
X_train = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/504_x_train.csv')
y_train = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/504_y_train.csv')

# print(X_test.head())
# print(X_train.head())
# print(y_train.head())

# print(X_test.info())
# print(X_train.info())
# print(y_train.info())

# print(X_test.isnull().sum())
# print(X_train.isnull().sum())
# print(y_train.isnull().sum())

#데이터 분류하기
COL_DEL = ['id']
COL_NUM = ['year','mileage','tax','mpg', 'engineSize']
COL_CAT = ['model','transmission','fuelType']
COL_Y = ['price']

#데이터 분할하기
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train[COL_NUM+COL_CAT],
                                            y_train[COL_Y].values.ravel(),
                                            test_size=0.3)

#데이터 스케일링
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_tr[COL_NUM])

X_tr[COL_NUM] = scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])
X_test[COL_NUM] = scaler.transform(X_test[COL_NUM])

#데이터 인코딩
from sklearn.preprocessing import LabelEncoder

X = pd.concat([X_train[COL_CAT], X_test[COL_CAT]])
for col in COL_CAT:
    le = LabelEncoder()
    le.fit(X[col])
    X_tr[col] = le.transform(X_tr[col])
    X_val[col] = le.transform(X_val[col])
    X_test[col] = le.transform(X_test[col])

#모델 적용하기
from sklearn.ensemble import RandomForestRegressor
modelRF = RandomForestRegressor(random_state=123)
modelRF.fit(X_tr, y_tr)

#예측값 생성하기
y_val_predRF = modelRF.predict(X_val)

#평가 지표 계산하기
from sklearn.metrics import mean_squared_error

def cal_rmse(actual,pred):
    return np.sqrt(mean_squared_error(actual,pred))

scoreRF = cal_rmse(y_val, y_val_predRF)
print('Random Forest:', scoreRF)

#하이퍼파라미터 조정하기
# modelRF2 = RandomForestRegressor(n_estimators=50, max_depth=5, random_state=123)
# modelRF2.fit(X_tr, y_tr)
# y_val_predRF2 = modelRF2.predict(X_val)
# scoreRF2 = cal_rmse(y_val, y_val_predRF2)
# print('Random Forest2:', scoreRF2)

# modelRF3 = RandomForestRegressor(n_estimators=50, max_depth=3, random_state=123)
# modelRF3.fit(X_tr, y_tr)
# y_val_predRF3 = modelRF3.predict(X_val)
# scoreRF3 = cal_rmse(y_val, y_val_predRF3)
# print('Random Forest3:', scoreRF3)

#rmse는 점수가 낮을수록 성능이 좋음 -> Random Forest1 선택!
#최종 결과값 생성하기
pred = modelRF.predict(X_test[COL_NUM+COL_CAT])
result = pd.DataFrame({'id':X_test.id, 'price':pred})
print(result.head())

#파일로 저장하기
# result.to_csv('007000955.csv', index=False)

Random Forest: 2700.9543887298046
     id     price
0  7469  31510.53
1  7470  16956.02
2  7471  34080.00
3  7472  14774.59
4  7473  16521.37

기출 4회

In [ ]:
import pandas as pd

X_test = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/404_x_test.csv')
X_train = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/404_x_train.csv')
y_train = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/404_y_train.csv')

# print(X_test.head())
# print(X_train.head())
# print(y_train.head())

# print(X_test.info())
# print(X_train.info())
# print(y_train.info())

# print(X_test.isnull().sum())
# print(X_train.isnull().sum())
# print(y_train.isnull().sum())

#데이터 분류하기
COL_DEL = ['ID']
COL_NUM = ['Age','Work_Experience','Family_Size']
COL_CAT = ['Gender','Ever_Married','Graduated','Profession','Spending_Score']
COL_Y = ['Segmentation']

#데이터 분할하기
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train[COL_NUM+COL_CAT],
                                            y_train[COL_Y].values.ravel(),
                                            test_size=0.3,
                                            stratify=y_train[COL_Y].values.ravel())
#데이터 스케일링
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_tr[COL_NUM])
X_tr[COL_NUM] = scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])
X_test[COL_NUM] = scaler.transform(X_test[COL_NUM])

#데이터 라벨링
from sklearn.preprocessing import LabelEncoder

X = pd.concat([X_train[COL_CAT], X_test[COL_CAT]])
for col in COL_CAT:
    le = LabelEncoder()
    le.fit(X[col])
    X_tr[col] = le.transform(X_tr[col])
    X_val[col] = le.transform(X_val[col])
    X_test[col] = le.transform(X_test[col])

label_mapping = {'A':0, 'B':1, 'C':2, 'D':3}

y_tr = [label_mapping[label] for label in y_tr]
y_val = [label_mapping[label] for label in y_val]

#모델 학습시키기
from sklearn.ensemble import RandomForestClassifier
modelRF = RandomForestClassifier()
modelRF.fit(X_tr, y_tr)

#예측값 생성하기
y_val_predRF = modelRF.predict(X_val)

#평가 지표 구하기
from sklearn.metrics import f1_score
scoreRF = f1_score(y_val, y_val_predRF, average='macro')
print("Random Forest:", scoreRF)

#최종값
pred = modelRF.predict(X_test[COL_NUM+COL_CAT])
result = pd.DataFrame({'ID':X_test.ID, 'Segmentation':pred})
print(result)

#파일 생성
# result.to_csv('007000955.csv', index=False)

Random Forest: 0.492991996918973
          ID  Segmentation
0     458989             1
1     458994             2
2     459000             2
3     459003             2
4     459005             0
...      ...           ...
2173  467950             3
2174  467954             3
2175  467958             1
2176  467961             1
2177  467968             3

[2178 rows x 2 columns]

기출 3회

In [ ]:
import pandas as pd
X_test = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/304_x_test.csv')
X_train = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/304_x_train.csv')
y_train = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/304_y_train.csv')

#데이터 살펴보기
# print(X_test.head())
# print(X_train.head())
# print(y_train.head())

# print(X_test.info())
# print(X_train.info())
# print(y_train.info())

# print(X_test.isnull().sum())
# print(X_train.isnull().sum())
# print(y_train.isnull().sum())

#데이터 분류하기
COL_DEL = ['ID']
COL_NUM = ['Age','AnnualIncome','FamilyMembers','ChronicDiseases']
COL_CAT = ['Employment Type','GraduateOrNot','FrequentFlyer','EverTravelledAbroad']
COL_Y = ['TravelInsurance']

#데이터 분할하기
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train[COL_NUM+COL_CAT],
                                            y_train[COL_Y].values.ravel(),
                                            test_size=0.3,
                                            stratify = y_train[COL_Y].values.ravel())

#데이터 스케일링
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_tr[COL_NUM])
X_tr[COL_NUM] = scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])
X_test[COL_NUM] = scaler.transform(X_test[COL_NUM])

#데이터 라벨링
from sklearn.preprocessing import LabelEncoder
X = pd.concat([X_train[COL_CAT], X_test[COL_CAT]])
for col in COL_CAT:
    le = LabelEncoder()
    le.fit(X[col])
    X_tr[col] = le.transform(X_tr[col])
    X_val[col] = le.transform(X_val[col])
    X_test[col] = le.transform(X_test[col])

#모델 학습시키기
from sklearn.ensemble import RandomForestClassifier
modelRF = RandomForestClassifier(random_state=123)
modelRF.fit(X_tr, y_tr)

#예측값 생성하기
y_val_predRF = modelRF.predict_proba(X_val)[:,1]

#평가지표 계산하기
from sklearn.metrics import roc_auc_score
scoreRF = roc_auc_score(y_val, y_val_predRF)
print('Random Forest:', scoreRF)

#최종 결과값 생성하기
pred = modelRF.predict_proba(X_test[COL_NUM+COL_CAT])[:,1]
result = pd.DataFrame({'ID':X_test.ID, 'pred':pred})
print(result)

#파일 생성하기
# result.to_csv('007000955.csv', index=False)

Random Forest: 0.80227420402859
       ID      pred
0    1569  0.664833
1    1344  1.000000
2    1429  0.046500
3     896  0.022500
4     101  0.950000
..    ...       ...
492  1376  0.280000
493    87  0.000000
494   287  0.005000
495   337  0.610000
496    92  0.020833

[497 rows x 2 columns]

#3유형

##1. 독립표본 T-검정

In [11]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

df = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/trees.csv')
X = df['Height'].mean()
print(round(X,2))

t_score, p_value = stats.ttest_1samp(df['Height'],75)
print(round(t_score,2))

print(round(p_value,4))

if p_value>0.05:
    print('채택')
else:
    print('기각')

76.0
0.87
0.3892
채택

###실습. Airquality

In [53]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

df = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/airquality.csv')
X = df['Wind'].mean()
print(round(X,2))

t_score, p_value = stats.ttest_1samp(df['Wind'],10)
print(round(t_score,2))

print(round(p_value,4))

if p_value>0.05:
    print('채택')
else:
    print('기각')

9.96
-0.15
0.8816
채택

##2. 독립표본 T-검정

In [18]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

df = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/toothgrowth.csv')
df.head()

VC = df.loc[df.supp=='VC']
OJ = df.loc[df.supp=='OJ']

VC_X = VC['len'].mean()
OJ_X = OJ['len'].mean()
print(round(VC_X,2), round(OJ_X,2))

t_score, p_value = stats.ttest_ind(VC['len'], OJ['len'], equal_var=True)
print(round(t_score,2))

print(round(p_value,4))
if p_value>0.05:
    print('채택')
else:
    print('기각')

16.96 20.66
-1.92
0.0604
채택

### 실습.Chickweight

In [56]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

df = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/chickweight.csv')
df.head()

diet1 = df.loc[df.Diet==1]
diet4 = df.loc[df.Diet==4]

diet1_mean = diet1['weight'].mean()
diet4_mean = diet4['weight'].mean()
print(round(diet1_mean,2), round(diet4_mean,2))

t_score, p_value = stats.ttest_ind(diet1['weight'], diet4['weight'],equal_var=False)
print(round(t_score,2))
print(round(p_value,4))
if p_value>0.05:
    print('채택')
else:
    print('기각')

102.65 135.26
-4.41
0.0
기각

##3. 쌍체표본 T-검정

In [24]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

df = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/insectsprays.csv')

diff = df['after_spr'] - df['before_spr']
m_d = diff.mean()
print(round(m_d,2))

t_score, p_value = stats.ttest_rel(df['before_spr'], df['after_spr'], alternative='greater')
print(round(t_score,2))

print(round(p_value,4))
if p_value>0.05:
    print('채택')
else:
    print('기각')

-12.0
14.89
0.0
기각

##4. 일원분산분석

In [32]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

df = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/iris.csv')

#1번
result = df.loc[df['species']=='versicolor','sepal_width'].mean()
print(round(result,2))

X1 = df.loc[df['species']=='setosa','sepal_width']
X2 = df.loc[df['species']=='versicolor','sepal_width']
X3 = df.loc[df['species']=='virginica','sepal_width']

test_result = stats.f_oneway(X1,X2,X3)
print(test_result)

statistic = test_result[0]
print(round(statistic,2))

p_value = test_result[1]
print(round(p_value,4))

if p_value>0.05:
    print('채택')
else:
    print('기각')

2.77
F_onewayResult(statistic=49.160040089612075, pvalue=4.492017133309115e-17)
49.16
0.0
기각

### 실습.StudentsPerformance1

In [63]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

df = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/StudentsPerformance1.csv',encoding='cp949')
df.head()

X1 = df.loc[df['인종']=='A그룹','수학 점수']
X2 = df.loc[df['인종']=='B그룹','수학 점수']
X3 = df.loc[df['인종']=='C그룹','수학 점수']
X4 = df.loc[df['인종']=='D그룹','수학 점수']

X1_mean = X1.mean()
X2_mean = X2.mean()
X3_mean = X3.mean()
X4_mean = X4.mean()
print(round(X1_mean,2), round(X2_mean,2), round(X3_mean,2), round(X4_mean,2))

test_result = stats.f_oneway(X1,X2,X3,X4)
print(test_result)

statistic = test_result[0]
print(round(statistic,2))

p_value = test_result[1]
print(round(p_value,4))

if p_value>0.05:
    print('채택')
else:
    print('기각')

61.63 63.45 64.46 67.36
F_onewayResult(statistic=4.6599225222506835, pvalue=0.0030804403240573554)
4.66
0.0031
기각

##5. 카이제곱 적합도 검정

In [42]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

df = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/cellphone.csv')

#1번
count_df = df.groupby('제조사').count()
print(count_df)
result = count_df.loc['삼성','id'] - count_df.loc['애플','id']
print(result)

total_sum = len(df)
expected = [int(total_sum*0.1),
            int(total_sum*0.6),
            int(total_sum*0.3)]
print(expected)

observed = count_df['id'].values
test_result = stats.chisquare(observed, f_exp = expected)
print(test_result)

statistic = test_result[0]
print(round(statistic,2))

p_value = test_result[1]
print(round(p_value,4))

if p_value>0.05:
    print('채택')
else:
    print('기각')

      id
제조사
기타     5
삼성   117
애플    78
39
[20, 120, 60]
Power_divergenceResult(statistic=16.725, pvalue=0.00023345995371416804)
16.73
0.0002
기각

##6. 카이제곱 독립성 검정

In [50]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

df = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/student.csv')
df.head()

table = pd.crosstab(df['단과대학'],df['수강 과목 수'])
print(table)

result = table[table['6개 이상']==table['6개 이상'].max()].index[0]
print(result)

X1 = table.loc['경영대학',:]
X2 = table.loc['자연대학',:]
X3 = table.loc['공과대학',:]
test_result = stats.chi2_contingency([X1,X2,X3])
print(test_result)

statistic = test_result[0]
print(round(statistic,2))
p_value = test_result[1]
print(round(p_value,4))

if p_value>0.05:
    print('채택')
else:
    print('기각')

수강 과목 수  4개 이하  5개  6개 이상
단과대학
경영대학        12  78     30
공과대학        30  42     28
자연대학        30  42      8
경영대학
Chi2ContingencyResult(statistic=30.127525252525256, pvalue=4.6103966676496775e-06, dof=4, expected_freq=array([[28.8, 64.8, 26.4],
       [19.2, 43.2, 17.6],
       [24. , 54. , 22. ]]))
30.13
0.0
기각

###실습.StudentsPerformance

In [72]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

df = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/StudentsPerformance2.csv', encoding='cp949')
print(df.head())

table = pd.crosstab(df['성별'], df['학업 성적'])
print(table)

man = table.loc['남성',:]
woman = table.loc['여성',:]

man_g = man['우수']
woman_g = woman['우수']

print(int(abs(man_g - woman_g)))

test_result = stats.chi2_contingency([man,woman])
print(test_result)

statistic = test_result[0]
print(round(statistic,2))

p_value = test_result[1]
print(round(p_value,4))

if p_value>0.05:
    print('채택')
else:
    print('기각')

   ID  성별 부모 학력 수준 학업 성적
0   1  여성       중간    보통
1   2  여성       낮음    우수
2   3  여성       높음    우수
3   4  남성       중간    낮음
4   5  남성       낮음    보통
학업 성적   낮음   보통   우수
성별
남성     115  283   84
여성      83  313  122
38
Chi2ContingencyResult(statistic=12.4115784293196, pvalue=0.0020177157693633684, dof=2, expected_freq=array([[ 95.436, 287.272,  99.292],
       [102.564, 308.728, 106.708]]))
12.41
0.002
기각