<a href="https://colab.research.google.com/github/cowsilver57/sessac_test/blob/main/Chapter6_%EA%B8%B0%EC%B6%9C5%ED%9A%8C_1%EC%9C%A0%ED%98%95(13%EC%9D%BC%EC%B0%A8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#github와 colab 연동
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 637, done.
remote: Counting objects: 100% (274/274), done.
remote: Compressing objects: 100% (165/165), done.
remote: Total 637 (delta 136), reused 184 (delta 109), pack-reused 363
Receiving objects: 100% (637/637), 10.76 MiB | 11.22 MiB/s, done.
Resolving deltas: 100% (321/321), done.

# 문제 1

주어진 trash bag 데이터 세트는 지역별 종량제 봉투 가격을 나타낸다.

가격 컬럼은 각 행의 조건을 만족하는 해당 용량의 종량제 봉투가 존재하면 가격을 값으로, 존재하지 않으면 0을 값으로 갖는다.

이때 용도가 '음식물쓰레기'이고 사용 대상이 '가정용'인 2L 봉투 가격의 평균을 소수점을 버린 후 정수로 출력하시오.

In [16]:
import pandas as pd
import numpy as np

#만약 엑셀파일 안불러와지면 encoding='cp949' 꼭 입력하기
df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/501_trash_bag.csv', encoding='cp949')

print(df.head())

   시도명 시군구명       종류 처리방식      용도 사용대상  1L가격  1.5L가격  2L가격  2.5L가격  ...  5L가격  \
0  강원도  강릉시     규격봉투  매립용   생활쓰레기   기타     0       0     0       0  ...   130
1  강원도  강릉시  재사용규격봉투  매립용   생활쓰레기   기타     0       0     0       0  ...     0
2  강원도  고성군     규격봉투  소각용   생활쓰레기  가정용     0       0     0       0  ...   140
3  강원도  고성군     규격봉투  소각용  음식물쓰레기  가정용     0       0    60       0  ...   120
4  강원도  고성군   특수규격마대  매립용   생활쓰레기  가정용     0       0     0       0  ...     0

   10L가격  20L가격  30L가격  50L가격  60L가격  75L가격  100L가격  120L가격  125L가격
0    270    520      0   1250      0   1880       0       0       0
1    270    520      0      0      0      0       0       0       0
2    260    500      0   1220      0      0    2410       0       0
3      0      0      0      0      0      0       0       0       0
4      0      0      0   1540      0      0       0       0       0

[5 rows x 21 columns]

In [17]:
#사용 대상 컬럼 값들 확인
print(df['사용대상'].unique())

['기타' '가정용' '사업장용' '영업용' '영업장용' '범용']

In [23]:
df_filtered = df[(df['용도']=='음식물쓰레기')&(df['사용대상']=='가정용')]
print(df_filtered.head())

    시도명 시군구명    종류 처리방식      용도 사용대상  1L가격  1.5L가격  2L가격  2.5L가격  ...  5L가격  \
3   강원도  고성군  규격봉투  소각용  음식물쓰레기  가정용     0       0    60       0  ...   120
8   강원도  삼척시  규격봉투  매립용  음식물쓰레기  가정용     0       0     0       0  ...    80
9   강원도  양구군  규격봉투  매립용  음식물쓰레기  가정용     0       0    50       0  ...   120
12  강원도  양양군  규격봉투   기타  음식물쓰레기  가정용     0       0    40       0  ...    90
16  강원도  영월군  규격봉투  매립용  음식물쓰레기  가정용     0       0     0       0  ...   110

    10L가격  20L가격  30L가격  50L가격  60L가격  75L가격  100L가격  120L가격  125L가격
3       0      0      0      0      0      0       0       0       0
8     150    290      0      0      0      0       0       0       0
9     210    400      0      0      0      0       0       0       0
12    170    340      0      0      0      0       0       0       0
16    180    350      0    900      0   1350       0       0       0

[5 rows x 21 columns]

In [25]:
rst_df = df_filtered[df_filtered['2L가격']!=0]
print(rst_df.head())

    시도명 시군구명    종류 처리방식      용도 사용대상  1L가격  1.5L가격  2L가격  2.5L가격  ...  5L가격  \
3   강원도  고성군  규격봉투  소각용  음식물쓰레기  가정용     0       0    60       0  ...   120
9   강원도  양구군  규격봉투  매립용  음식물쓰레기  가정용     0       0    50       0  ...   120
12  강원도  양양군  규격봉투   기타  음식물쓰레기  가정용     0       0    40       0  ...    90
20  강원도  원주시  규격봉투   기타  음식물쓰레기  가정용     0       0    80       0  ...   170
33  강원도  춘천시  규격봉투  매립용  음식물쓰레기  가정용    40       0    50       0  ...   140

    10L가격  20L가격  30L가격  50L가격  60L가격  75L가격  100L가격  120L가격  125L가격
3       0      0      0      0      0      0       0       0       0
9     210    400      0      0      0      0       0       0       0
12    170    340      0      0      0      0       0       0       0
20    320    680      0   1690      0      0       0       0       0
33    230    470      0      0      0      0       0       0       0

[5 rows x 21 columns]

In [27]:
result = int(rst_df['2L가격'].mean())
print(result)

119

#문제 1 정답 코드

In [32]:
import pandas as pd

df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/501_trash_bag.csv', encoding='cp949')

df_filtered = df[(df['용도']=='음식물쓰레기')&(df['사용대상']=='가정용')]
rst_df = df_filtered[df_filtered['2L가격']!=0]

result = int(rst_df['2L가격'].mean())

print(result)

119

#문제 2

BMI 지수는 몸무게(kg)를 키(cm)의 제곱으로 나누어 구하며, BMI 값에 따른 비만도 분류는 다음과 같다.



* 18.5 미만 : 저체중
* 18.5 이상 23 미만 : 정상
* 23 이상 25 미만 : 과체중
* 25 이상 30 미만 : 경도비만
* 30 이상 : 중등도비만


이때 주어진 bmi 데이터 세트에서 비만도가 정상에 속하는 인원 수와 과체중에 속하는 인원 수의 차이를 정수로 출력하시오.

In [49]:
import pandas as pd
df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/502_bmi.csv')

In [46]:
#bmi 지수 계산해서 새로운 칼럼으로 넣기
df['bmi'] = df['Weight']/((df['Height']/100)**2)

In [47]:
#정상, 과체중 범위 설정하고, len으로 인원 수 측정하기
n1 = len(df[(df['bmi']>=18.5)&(df['bmi']<23)])
n2 = len(df[(df['bmi']>=23)&(df['bmi']<25)])
print(n1, n2)

47 19

In [48]:
#두 수의 차이를 절댓값으로 표시하기
result = abs(n1-n2)
print(result)

28

#문제 2 정답 코드

In [50]:
import pandas as pd
df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/502_bmi.csv')

df['bmi'] = df['Weight']/((df['Height']/100)**2)
n1 = len(df[(df['bmi']>=18.5)&(df['bmi']<23)])
n2 = len(df[(df['bmi']>=23)&(df['bmi']<25)])

result = abs(n1-n2)
print(result)

28

#문제 3

주어진 students 데이터 세트는 각 학교의 학년별 총 전입학생, 총 전출학생, 전체 학생 수를 나타낸다.

순 전입학생 수는 총 전입학생 수에서 총 전출학생 수를 빼서 구할 수 있다.

순 전입학생이 가장 많은 학교의 전체 학생 수를 구하시오.

In [64]:
import pandas as pd
df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/503_students.csv', encoding='cp949')

In [72]:
print(df.head())

  학교  학년  총 전입학생  총 전출학생  전체 학생 수  순 전입학생
0  A   1       9       1      222       8
1  A   2      13       4      148       9
2  A   3       8       7      196       1
3  B   1       7       5      171       2
4  B   2       9       1      216       8

In [66]:
#순 전입학생 칼럼 계산해서 만들기
df['순 전입학생'] = df['총 전입학생']-df['총 전출학생']
print(df.head())

  학교  학년  총 전입학생  총 전출학생  전체 학생 수  순 전입학생
0  A   1       9       1      222       8
1  A   2      13       4      148       9
2  A   3       8       7      196       1
3  B   1       7       5      171       2
4  B   2       9       1      216       8

In [69]:
#순 전입학생이 가장 많은 학교의 전체 학생 수를 구하시오.
#학교 별로 '순 전입학생 수'와 '전체 학생 수'의 합계 구하기
rst_df = df.groupby(['학교'])[['순 전입학생','전체 학생 수']].sum()
print(rst_df)

    순 전입학생  전체 학생 수
학교
A       18      566
B       13      588
C       -9      528
D        7      548
E       14      603
F        1      481
G       10      618
H       -1      602

In [77]:
#방법 1
#rst_df에서 순 전입학생 수가 최대인 행을 찾고, '전체 학생 수' 컬럼 값을 최종 결괏값으로 출력함.
result = rst_df.loc[rst_df['순 전입학생']==rst_df['순 전입학생'].max(),'전체 학생 수'].values[0]
#뒤에 values[0]을 꼭 붙여야 함. 안그러면 답만 안나오고 series 형태로 출력됨.
print(result)

566

# 문제 3 정답 코드

In [80]:
import pandas as pd
df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/503_students.csv', encoding='cp949')

df['순 전입학생'] = df['총 전입학생']-df['총 전출학생']
rst_df = df.groupby(['학교'])[['순 전입학생','전체 학생 수']].sum()
result = rst_df.loc[rst_df['순 전입학생']==rst_df['순 전입학생'].max(),'전체 학생 수'].values[0]
print(result)

566