<a href="https://colab.research.google.com/github/cowsilver57/sessac_test/blob/main/Chapter2_Pandas(3%EC%9D%BC%EC%B0%A8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

## Series와 DataFrame 이해하기

In [ ]:
import pandas as pd

#Series
s = pd.Series([1,3,5,6,8])
print(s, s.index, s.values) #index는 순서, values는 값

#DataFrame
v = [[1,2,3], [4,5,6], [7,8,9]]
i = ['1행', '2행', '3행']
c = ['컬럼1', '컬럼2', '컬럼3']

df = pd.DataFrame(v, index = i, columns = c)
print(df)

0    1
1    3
2    5
3    6
4    8
dtype: int64 RangeIndex(start=0, stop=5, step=1) [1 3 5 6 8]
    컬럼1  컬럼2  컬럼3
1행    1    2    3
2행    4    5    6
3행    7    8    9

## 데이터 프레임 생성하기

In [ ]:
#리스트로 생성
d = [['100', '권소은', 9.7],
    ['101', '장주은', 8.9],
    ['102', '김민정', 9.3],
    ['103', '김예슬', 6.1]]
df = pd.DataFrame(d,columns =['번호','이름','점수'])
print(df)

#딕션너리로 생성
d = {'번호':['100','101','102','103'],
    '이름':['권소은','장주은','김민정','김예슬'],
    '나이':[25,25,29,29]}

df = pd.DataFrame(d,columns =['번호','이름','나이'])
print(df)

    번호   이름   점수
0  100  권소은  9.7
1  101  장주은  8.9
2  102  김민정  9.3
3  103  김예슬  6.1
    번호   이름  나이
0  100  권소은  25
1  101  장주은  25
2  102  김민정  29
3  103  김예슬  29

In [ ]:
#csv 파일로 생성하기
housing_df = pd.read_csv('/content/sample_data/california_housing_train.csv')
print('housing 변수 type:', type(housing_df))
print(housing_df)

housing 변수 type: <class 'pandas.core.frame.DataFrame'>
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]

##데이터 프레임 훓어보기

In [ ]:
#DataFrame의 형태 살펴보기 ; shape
print('DataFrame 크기:', housing_df.shape)

#DataFrame의 자료 살펴보기 ; head
print(housing_df.head())

#DataFrame의 구조 살펴보기 : info, describe
print(housing_df.info())

#DataFrame 컬럼별 데이터의 개수, 평균값, 표준편차, 최솟값, 사분위수값, 최댓값 등 ; describe
print(housing_df.describe())

DataFrame 크기: (17000, 9)
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0
3    -114.57     33.64                14.0       1501.0           337.0
4    -114.57     33.57                20.0       1454.0           326.0

   population  households  median_income  median_house_value
0      1015.0       472.0         1.4936             66900.0
1      1129.0       463.0         1.8200             80100.0
2       333.0       117.0         1.6509             85700.0
3       515.0       226.0         3.1917             73400.0
4       624.0       262.0         1.9250             65500.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB
None
          longitude      latitude  housing_median_age   total_rooms  \
count  17000.000000  17000.000000        17000.000000  17000.000000
mean    -119.562108     35.625225           28.589353   2643.664412
std        2.005166      2.137340           12.586937   2179.947071
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.790000     33.930000           18.000000   1462.000000
50%     -118.490000     34.250000           29.000000   2127.000000
75%     -118.000000     37.720000           37.000000   3151.250000
max     -114.310000     41.950000           52.000000  37937.000000

       total_bedrooms    population    households  median_income  \
count    17000.000000  17000.000000  17000.000000   17000.000000
mean       539.410824   1429.573941    501.221941       3.883578
std        421.499452   1147.852959    384.520841       1.908157
min          1.000000      3.000000      1.000000       0.499900
25%        297.000000    790.000000    282.000000       2.566375
50%        434.000000   1167.000000    409.000000       3.544600
75%        648.250000   1721.000000    605.250000       4.767000
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        17000.000000
mean        207300.912353
std         115983.764387
min          14999.000000
25%         119400.000000
50%         180400.000000
75%         265000.000000
max         500001.000000

In [ ]:
#시리즈에서 하나의 인덱스만 뽑아서 확인하는 방법
housing_median_age = housing_df['housing_median_age']
print(housing_median_age.head())

#value_counts 함수; housing_median_age에 대한 값들을 count해주는 함수임
#데이터 분포도를 확인하는 데에 유용한 함수임.
value_counts = housing_median_age.value_counts()
print(value_counts.head()) #데이터 건수가 많은 순서로 정렬됨.

0    15.0
1    19.0
2    17.0
3    14.0
4    20.0
Name: housing_median_age, dtype: float64
52.0    1052
36.0     715
35.0     692
16.0     635
17.0     576
Name: housing_median_age, dtype: int64

## 데이터프레임 컬럼 생성과 수정

In [ ]:
#housing_df에 Age_0이라는 칼럼 생성하고 0의 값을 할당
housing_df['Age_0']=0
print(housing_df.head(3))

#Age_by_10이라는 칼럼을 생성하고 다른 칼럼을 연산한 값을 할당
housing_df['Age_by_10'] = housing_df['housing_median_age']//10
print(housing_df.head(3))

#위에서 값을 할당한 칼럼을 수정하기
housing_df['Age_by_10'] = housing_df['Age_by_10']*10
print(housing_df.head(3))

#counts 함수를 통해 각 연령대별 데이터 분포도 확인
value_counts = housing_df['Age_by_10'].value_counts()
print(value_counts)

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0

   population  households  median_income  median_house_value  Age_0
0      1015.0       472.0         1.4936             66900.0      0
1      1129.0       463.0         1.8200             80100.0      0
2       333.0       117.0         1.6509             85700.0      0
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0

   population  households  median_income  median_house_value  Age_0  Age_by_10
0      1015.0       472.0         1.4936             66900.0      0        1.0
1      1129.0       463.0         1.8200             80100.0      0        1.0
2       333.0       117.0         1.6509             85700.0      0        1.0
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0

   population  households  median_income  median_house_value  Age_0  Age_by_10
0      1015.0       472.0         1.4936             66900.0      0       10.0
1      1129.0       463.0         1.8200             80100.0      0       10.0
2       333.0       117.0         1.6509             85700.0      0       10.0
30.0    4770
20.0    3985
10.0    3739
40.0    2223
50.0    1196
0.0     1087
Name: Age_by_10, dtype: int64

## 데이터프레임 데이터 삭제

In [ ]:
#특정 칼럼 삭제 ; 칼럼 방향 삭제 axis=1
housing_drop_df = housing_df.drop('Age_0', axis=1)
print(housing_drop_df.head(3))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0

   population  households  median_income  median_house_value  Age_by_10
0      1015.0       472.0         1.4936             66900.0       10.0
1      1129.0       463.0         1.8200             80100.0       10.0
2       333.0       117.0         1.6509             85700.0       10.0

In [ ]:
#복수 칼럼 데이터 삭제
#drop_result = housing_df.drop(['Age_0', 'Age_by_10'], axis=1, inplace=True)
#print('drop_result 반환값 : ', drop_result)
#print(housing_df.head(3))

In [ ]:
#행 데이터 삭제 ; 0,1,2행 삭제됨.
housing_drop_df = housing_df.drop([0,1,2], axis=0)
print(housing_drop_df.head(3))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
3    -114.57     33.64                14.0       1501.0           337.0
4    -114.57     33.57                20.0       1454.0           326.0
5    -114.58     33.63                29.0       1387.0           236.0

   population  households  median_income  median_house_value  Age_0  Age_by_10
3       515.0       226.0         3.1917             73400.0      0       10.0
4       624.0       262.0         1.9250             65500.0      0       20.0
5       671.0       239.0         3.3438             74000.0      0       20.0

##  데이터프레임 데이터 조회

In [ ]:
print('단일 컬럼 데이터 조회:\n', housing_df['housing_median_age'].head(3))
print('\n복수 컬럼 데이터 조회:\n', housing_df[['housing_median_age', 'total_rooms']].head(3))

#슬라이싱
print(housing_df[0:3])

단일 컬럼 데이터 조회:
 0    15.0
1    19.0
2    17.0
Name: housing_median_age, dtype: float64

복수 컬럼 데이터 조회:
    housing_median_age  total_rooms
0                15.0       5612.0
1                19.0       7650.0
2                17.0        720.0
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0

   population  households  median_income  median_house_value  Age_0  Age_by_10
0      1015.0       472.0         1.4936             66900.0      0       10.0
1      1129.0       463.0         1.8200             80100.0      0       10.0
2       333.0       117.0         1.6509             85700.0      0       10.0

In [ ]:
#housing_median_age가 30인 데이터만 조회하기 ; 논리형 인덱싱
print(housing_df[housing_df['housing_median_age']==30].head(3))

#복수형 인덱싱 (방법1)
print(housing_df[
                (housing_df['housing_median_age']>30)&
                (housing_df['total_rooms']<100)&
                (housing_df['median_income']>10)
                ].head(3))

     longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
26     -115.37     32.82                30.0       1602.0           322.0
50     -115.52     34.22                30.0        540.0           136.0
101    -115.59     32.69                30.0        935.0           177.0

     population  households  median_income  median_house_value  Age_0  \
26       1130.0       335.0         3.5735             71100.0      0
50        122.0        63.0         1.3333             42500.0      0
101       649.0       148.0         2.5769             94400.0      0

     Age_by_10
26        30.0
50        30.0
101       30.0
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
6030     -118.22     34.06                52.0         48.0             6.0
13055    -121.87     37.46                43.0         91.0            12.0
14501    -122.14     37.50                46.0         30.0             4.0

       population  households  median_income  median_house_value  Age_0  \
6030         41.0        10.0        10.2264            112500.0      0
13055        58.0        16.0        15.0001            500001.0      0
14501        13.0         5.0        15.0001            500001.0      0

       Age_by_10
6030        50.0
13055       40.0
14501       40.0

In [ ]:
#변수 논리형 인덱싱으로 데이터 조회 (방법2)
con1 = housing_df['housing_median_age'] > 30
con2 = housing_df['total_rooms']<100
con3 = housing_df['median_income']>10

print(housing_df[con1&con2&con3].head(3))

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
6030     -118.22     34.06                52.0         48.0             6.0
13055    -121.87     37.46                43.0         91.0            12.0
14501    -122.14     37.50                46.0         30.0             4.0

       population  households  median_income  median_house_value  Age_0  \
6030         41.0        10.0        10.2264            112500.0      0
13055        58.0        16.0        15.0001            500001.0      0
14501        13.0         5.0        15.0001            500001.0      0

       Age_by_10
6030        50.0
13055       40.0
14501       40.0

### 데이터프레임 iloc 함수


*   위치 기반 인덱싱
*   행과 열의 값으로 정수형, 정수형 슬리이싱 값을 입력해야함.

In [ ]:
print(housing_df.iloc[0,2])

15.0

###데이터 프레임 loc 함수

*   명칭 기반 인덱싱
*   행 위치에 인덱스 값, 열 위치에는 컬럼명 입력

In [ ]:
#loc함수로 데이터 조회
print(housing_df.loc[0,'housing_median_age'])

#loc함수로 복수 데이터 조회
print(housing_df.loc[0:4, 'housing_median_age'])

#loc 함수로 조건부 데이터 조회
print(housing_df.loc[housing_df['housing_median_age']==30, ['housing_median_age', 'total_rooms']].head(3))

15.0
0    15.0
1    19.0
2    17.0
3    14.0
4    20.0
Name: housing_median_age, dtype: float64
     housing_median_age  total_rooms
26                 30.0       1602.0
50                 30.0        540.0
101                30.0        935.0

##데이터프레임 데이터 정렬과 집계

In [ ]:
#housing_median_age를 기준으로 정렬, 기본으로 오름차순 정렬
housing_sorted = housing_df.sort_values(by=['housing_median_age'])
print(housing_sorted.head(3))

#housing_median_age와 total_rooms를 기준으로 내림차순으로 정렬
housing_sorted = housing_df.sort_values(by=['housing_median_age', 'total_rooms'], ascending=False)
print(housing_sorted.head(3))

#sum, count
print(housing_df.sum())
print(housing_df.count())

#집계 함수 설정
print(housing_df[['housing_median_age', 'total_rooms']].mean())

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
13708    -122.00     38.23                 1.0       2062.0           343.0
10993    -120.93     37.65                 1.0       2254.0           328.0
1353     -117.17     34.12                 2.0       3867.0           573.0

       population  households  median_income  median_house_value  Age_0  \
13708       872.0       268.0         5.2636            191300.0      0
10993       402.0       112.0         4.2500            189200.0      0
1353       1275.0       433.0         5.4138            164400.0      0

       Age_by_10
13708        0.0
10993        0.0
1353         0.0
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
15772    -122.41     37.79                52.0       6016.0          2509.0
15773    -122.41     37.79                52.0       5783.0          2747.0
11163    -121.03     40.35                52.0       5486.0          1044.0

       population  households  median_income  median_house_value  Age_0  \
15772      3436.0      2119.0         2.5166            275000.0      0
15773      4518.0      2538.0         1.7240            225000.0      0
11163      1977.0       754.0         2.1833             49500.0      0

       Age_by_10
15772       50.0
15773       50.0
11163       50.0
longitude            -2.032556e+06
latitude              6.056288e+05
housing_median_age    4.860190e+05
total_rooms           4.494230e+07
total_bedrooms        9.169984e+06
population            2.430276e+07
households            8.520773e+06
median_income         6.602083e+04
median_house_value    3.524116e+09
Age_0                 0.000000e+00
Age_by_10             4.089100e+05
dtype: float64
longitude             17000
latitude              17000
housing_median_age    17000
total_rooms           17000
total_bedrooms        17000
population            17000
households            17000
median_income         17000
median_house_value    17000
Age_0                 17000
Age_by_10             17000
dtype: int64
housing_median_age      28.589353
total_rooms           2643.664412
dtype: float64

In [ ]:
#groupby 함수 적용
housing_groupby = housing_df.groupby('housing_median_age').mean()
print(housing_groupby.head(3))

                     longitude   latitude  total_rooms  total_bedrooms  \
housing_median_age
1.0                -121.465000  37.940000  2158.000000      335.500000
2.0                -119.035306  35.410816  5237.102041      871.448980
3.0                -118.798478  35.164783  6920.326087     1190.826087

                     population   households  median_income  \
housing_median_age
1.0                  637.000000   190.000000       4.756800
2.0                 2005.224490   707.122449       5.074237
3.0                 2934.673913  1030.413043       5.572013

                    median_house_value  Age_0  Age_by_10
housing_median_age
1.0                      190250.000000    0.0        0.0
2.0                      229438.836735    0.0        0.0
3.0                      239450.043478    0.0        0.0

In [ ]:
#특정 칼럼 group by 함수 적용
housing_groupby = housing_df.groupby('housing_median_age')[['total_rooms','total_bedrooms']].mean()
print(housing_groupby.head(3))

#group by를 통해 여러 개의 집계 합수 호출
housing_groupby = housing_df.groupby('housing_median_age')['total_rooms'].agg([min,max,sum])
print(housing_groupby.head(3))

                    total_rooms  total_bedrooms
housing_median_age
1.0                 2158.000000      335.500000
2.0                 5237.102041      871.448980
3.0                 6920.326087     1190.826087
                       min      max       sum
housing_median_age
1.0                 2062.0   2254.0    4316.0
2.0                   96.0  21897.0  256618.0
3.0                  475.0  21060.0  318335.0

##데이터 프레임 결측치 처리하기

In [ ]:
import numpy as np
housing_df['Age_na'] = np.nan #Age_na 칼럼을 결측치로 만들기
print(housing_df.isna().head(3)) #결측치를 확인해보면 Age_na 칼럼 값만 True로 나옴.

#결측치의 개수 확인
print(housing_df.isna().sum())

#fillna 함수를 활용하여 결측치를 다른 값으로 대체
housing_df['Age_na'] = housing_df['Age_na'].fillna(housing_df['housing_median_age'].mean())
print(housing_df.head(3))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0      False     False               False        False           False
1      False     False               False        False           False
2      False     False               False        False           False

   population  households  median_income  median_house_value  Age_0  \
0       False       False          False               False  False
1       False       False          False               False  False
2       False       False          False               False  False

   Age_by_10  Age_na
0      False    True
1      False    True
2      False    True
longitude                 0
latitude                  0
housing_median_age        0
total_rooms               0
total_bedrooms            0
population                0
households                0
median_income             0
median_house_value        0
Age_0                     0
Age_by_10                 0
Age_na                17000
dtype: int64
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0

   population  households  median_income  median_house_value  Age_0  \
0      1015.0       472.0         1.4936             66900.0      0
1      1129.0       463.0         1.8200             80100.0      0
2       333.0       117.0         1.6509             85700.0      0

   Age_by_10     Age_na
0       10.0  28.589353
1       10.0  28.589353
2       10.0  28.589353