<a href="https://colab.research.google.com/github/cowsilver57/sessac_test/blob/main/Chapter8_1127_%EC%9B%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1유형

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

61번 Legendary 컬럼은 전설포켓몬 유무를 나타낸다.전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라

In [ ]:
target = df.groupby('Legendary').mean()['HP']
result = target.values[1] - target.values[0]
print(result)

25.55614861329147

<ipython-input-3-c2bd17f93bc9>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  target = df.groupby('Legendary').mean()['HP']

62번 Type 1은 주속성, Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?

In [ ]:
type2 = df['Type 2'].value_counts().index[0]
print(type2)

Flying

63번 가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?

In [ ]:
type1 = df['Type 1'].value_counts().index[0]

result = df[df['Type 1']==type1].Attack.mean() / df[df['Type 1']==type1].Defense.mean()
print(result)

1.0165238678090576

64번 포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?

In [ ]:
result = df[df.Legendary==True].Generation.value_counts().index[0]
print(result)

3

65번 ‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라

In [ ]:
target = df[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']].corr().unstack().reset_index().rename(columns={0:"corr"})
result = target[target['corr']!=1].sort_values('corr', ascending=False).iloc[0]
print(result)

level_0     Sp. Def
level_1     Defense
corr       0.510747
Name: 26, dtype: object

66번 각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라

In [ ]:
result = df.sort_values(['Generation','Attack']).groupby('Generation').head(3).Attack.mean()
print(result)

19.5

67번 각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라

In [ ]:
result = df.sort_values(['Generation','Attack'], ascending=False).groupby('Generation').head(5).Attack.mean()
print(result)

157.23333333333332

68번 가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?

In [ ]:
result = df[['Type 1','Type 2']].value_counts().head(1)
print(result)

Type 1  Type 2
Normal  Flying    24
dtype: int64

69번 한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?

In [ ]:
target = df[['Type 1','Type 2']].value_counts()
result = len(target[target==1])
print(result)

39

70번 한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?

In [ ]:
target = df[['Type 1', 'Type 2']].value_counts()
target2 = target[target==1]

list = []
for value in target2.reset_index().values:
    t1 = value[0]
    t2 = value[1]

    sp = df[(df['Type 1']==t1)&(df['Type 2']==t2)]
    list.append(sp)

result = pd.concat(list).reset_index(drop=True).Generation.value_counts().sort_index()
print(result)

1     1
2     4
3     5
4    13
5     7
6     9
Name: Generation, dtype: int64

71번 전체데이터의 수축기혈압(최고) - 이완기혈압(최저)의 평균을 구하여라

In [ ]:
diff = df['수축기혈압(최고) : mmHg'] - df['이완기혈압(최저) : mmHg']
result = diff.mean()
print(result)

52.19539414750672

72번 50~59세의 신장평균을 구하여라

In [ ]:
target = df[(df['측정나이']>=50)&(df['측정나이']<=59)]
result = target.iloc[:,2].mean()
print(result)

164.07490107405314

73번 연령대 (20~29 : 20대 …) 별 인원수를 구하여라

In [ ]:
df['연령대'] = df.측정나이 // 10 *10
#10으로 나눈 몫에 다시 10을 곱하기!
result = df['연령대'].value_counts()
print(result)

20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: 연령대, dtype: int64

74번 연령대 (20~29 : 20대 …) 별 등급의 숫자를 데이터 프레임으로 표현하라

In [ ]:
df['연령대'] = df.측정나이 // 10 * 10
#size는 각 그룹의 크기 측정
result = df.groupby(['연령대','등급'], as_index=False).size()
print(result)

     연령대 등급  size
0   20.0  A  1585
1   20.0  B  1443
2   20.0  C  1455
3   20.0  D  1348
4   30.0  A   743
5   30.0  B   697
6   30.0  C   626
7   30.0  D   594
8   40.0  A   386
9   40.0  B   428
10  40.0  C   455
11  40.0  D   532
12  50.0  A   321
13  50.0  B   410
14  50.0  C   474
15  50.0  D   564
16  60.0  A   314
17  60.0  B   371
18  60.0  C   339
19  60.0  D   311

75번 남성 중 A등급과 D등급의 체지방률 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [ ]:
result = abs(df[(df.측정회원성별=='M')&(df.등급=='A')].iloc[:,4].mean() - df[(df.측정회원성별=='M')&(df.등급=='D')].iloc[:,4].mean())
print(result)

7.932086486137521

76번 여성 중 A등급과 D등급의 체중의 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [ ]:
result = abs(df[(df.측정회원성별=='F')&(df.등급=='A')].iloc[:,3].mean()-df[(df.측정회원성별=='F')&(df.등급=='D')].iloc[:,3].mean())
print(result)

5.176211590296504

77번 bmi는 자신의 몸무게(kg)를 키의 제곱(m)으로 나눈값이다. 데이터의 bmi 를 구한 새로운 컬럼을 만들고 남성의 bmi 평균을 구하여라

In [ ]:
df['bmi'] = df['체중 : kg'] / ((df['신장 : cm']/100)**2)
result = df[df.측정회원성별=='M'].bmi.mean()
print(result)

24.46134409819308

In [ ]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')
df.head()

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

78번 bmi보다 체지방율이 높은 사람들의 체중평균을 구하여라

In [ ]:
df['bmi'] = df['체중 : kg'] / ((df['신장 : cm']/100)**2)
target = df[df['체지방율 : %'] > df.bmi].iloc[:,3].mean()
print(target)

61.7408806392542

79번 남성과 여성의 악력 평균의 차이를 구하여라

In [ ]:
man = df[(df.측정회원성별=='M')].iloc[:,7].mean()
woman = df[(df.측정회원성별=='F')].iloc[:,7].mean()
print(man-woman)

#다른 방법
target = df.groupby('측정회원성별')['악력D : kg'].mean()
result = target.M - target.F
print(result)

17.55954185047464
17.55954185047465

80번 남성과 여성의 교차윗몸일으키기 횟수의 평균의 차이를 구하여라

In [ ]:
man = df[(df.측정회원성별=='M')].iloc[:,9].mean()
woman = df[(df.측정회원성별=='F')].iloc[:,9].mean()
print(man-woman)

#다른 방법
target = df.groupby('측정회원성별')['교차윗몸일으키기 : 회'].mean()
result = target.M - target.F
print(result)

14.243156833157627
14.243156833157627

#2유형

In [2]:
#github와 colab 연동
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 637, done.
remote: Counting objects: 100% (274/274), done.
remote: Compressing objects: 100% (165/165), done.
remote: Total 637 (delta 136), reused 184 (delta 109), pack-reused 363
Receiving objects: 100% (637/637), 10.76 MiB | 16.52 MiB/s, done.
Resolving deltas: 100% (321/321), done.

In [3]:
import pandas as pd
X_test = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/504_x_test.csv')
X_train = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/504_x_train.csv')
y_train = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/504_y_train.csv')

# #데이터 살펴보기
# print(X_test.head(5))
# print(X_train.head(5))
# print(y_train.head(5))

# #데이터 정보 보기
# print(X_test.info())
# print(X_train.info())
# print(y_train.info())

# #데이터 결측치 확인하기
# print(X_test.isnull().sum())
# print(X_train.isnull().sum())
# print(y_train.isnull().sum())

#데이터 분류하기
COL_DEL = ['id']
COL_NUM = ['year','mileage','tax','mpg','engineSize']
COL_CAT = ['model','transmission','fuelType']
COL_Y = ['price']

#데이터 분할하기
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train[COL_NUM+COL_CAT],
                                            y_train[COL_Y].values.ravel(),
                                            test_size=0.3)
#데이터 스케일링
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_tr[COL_NUM])

X_tr[COL_NUM] = scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])
X_test[COL_NUM] = scaler.transform(X_test[COL_NUM])

#데이터 인코딩
from sklearn.preprocessing import LabelEncoder
X = pd.concat([X_train[COL_CAT], X_test[COL_CAT]])
for col in COL_CAT:
    le = LabelEncoder()
    le.fit(X[col])
    X_tr[col] = le.transform(X_tr[col])
    X_val[col] = le.transform(X_val[col])
    X_test[col] = le.transform(X_test[col])

In [4]:
#모델 적용하기
from sklearn.ensemble import RandomForestClassifier
modelRF = RandomForestClassifier(random_state=123)
modelRF.fit(X_tr, y_tr)

from xgboost import XGBRegressor
modelXGB = XGBRegressor(random_state=123)
modelXGB.fit(X_tr, y_tr)

#예측값 생성
y_val_predRF = modelRF.predict(X_val)
y_val_predXGB = modelXGB.predict(X_val)

#rmse
from sklearn.metrics import mean_squared_error
import numpy as np

def cal_rmse(actual,pred):
    return np.sqrt(mean_squared_error(actual,pred))

scoreRF = cal_rmse(y_val, y_val_predRF)
scoreXGB = cal_rmse(y_val, y_val_predXGB)

print('Random Forest:',scoreRF)
print('XGBoost:', scoreXGB)

Random Forest: 2954.388310564956
XGBoost: 2351.785716445975

In [6]:
def get_scores(model, X_tr, X_val, y_tr, y_val):
    y_tr_pred = model.predict(X_tr)
    y_val_pred = model.predict(X_val)
    tr_score = cal_rmse(y_tr, y_tr_pred)
    val_score = cal_rmse(y_val, y_val_pred)
    return f'train: {round(tr_score,4)}, valid: {round(val_score,4)}'

print('Random Forest:', get_scores(modelRF, X_tr, X_val, y_tr, y_val))
print('XGBoost:', get_scores(modelXGB, X_tr, X_val, y_tr, y_val))

Random Forest: train: 514.5465, valid: 2954.3883
XGBoost: train: 1281.9386, valid: 2351.7857

In [8]:
# #XGBoost 사용!
# #하이퍼파라미터 조정
# modelXGB2 = XGBRegressor(objective='reg:squarederror',n_estimators=50, max_depth=5, min_child_weight=2, random_state=123)
# modelXGB2(X_tr, y_tr)

# modelXGB3 = XGBRegressor(objective='reg:squarederror',n_estimators=50, max_depth=10, min_child_weight=2, random_state=123)
# modelXGB3(X_tr, y_tr)

# modelXGB4 = XGBRegressor(objective='reg:squarederror',n_estimators=100, max_depth=5, min_child_weight=2, random_state=123)
# modelXGB4(X_tr, y_tr)

# modelXGB5 = XGBRegressor(objective='reg:squarederror',n_estimators=100, max_depth=10, min_child_weight=2, random_state=123)
# modelXGB5(X_tr, y_tr)

# print('XGBoost2:',get_scores(modelXGB2, X_tr, X_val, y_tr, y_val))
# print('XGBoost3:',get_scores(modelXGB3, X_tr, X_val, y_tr, y_val))
# print('XGBoost4:',get_scores(modelXGB4, X_tr, X_val, y_tr, y_val))
# print('XGBoost5:',get_scores(modelXGB5, X_tr, X_val, y_tr, y_val))

#최종 결괏값 생성
# pred = modelXGB4.predict(X_test[COL_NUM+COL_CAT])
# result = pd.DataFrame({'id:'X_test.id, 'price:'pred})
# print(result.head())

# result.to_csv('007000955.csv', index=False)

#3유형

## 1. 단일표본  T-검정

In [20]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

a = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/trees.csv')
X = a['Height'].mean()
print(round(X,2))
print('-'*80)

t_score, p_value = stats.ttest_1samp(a['Height'],75)
print(round(t_score,2))
print('-'*80)

print(round(p_value,4))
if p_value >0.05:
    print('채택')
else:
    print('기각')

76.0
--------------------------------------------------------------------------------
0.87
--------------------------------------------------------------------------------
0.3892
채택

##2. 독립표본 T-검정

In [27]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

b = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/toothgrowth.csv')

stats.levene(b.loc[b.supp=='VC','len'],b.loc[b.supp=='OJ','len'])
VC_b = b.loc[b.supp=='VC']
OJ_b = b.loc[b.supp=='OJ']

VC_X = VC_b['len'].mean()
OJ_X = OJ_b['len'].mean()

print(round(VC_X,2), round(OJ_X,2))
print('-'*80)

t_score,p_value = stats.ttest_ind(VC_b['len'], OJ_b['len'], equal_var=False)
print(round(t_score,2))
print('-'*80)

print(round(p_value,4))
if p_value>0.05:
    print('채택')
else:
    print('기각')

16.96 20.66
--------------------------------------------------------------------------------
-1.92
--------------------------------------------------------------------------------
0.0606
채택

##3. 쌍체표본 T-검정

In [34]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

c = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/insectsprays.csv')
diff = c['after_spr']=c['before_spr']
m_d = diff.mean()
print(round(m_d,2))
print('-'*80)

t_score, p_value = stats.ttest_rel(c['before_spr'],c['after_spr'], alternative='greater')
print(round(t_score,2))
print('-'*80)

print(round(p_value,4))
if p_value>0.05:
    print('채택')
else:
    print('기각')

15.5
--------------------------------------------------------------------------------
nan
--------------------------------------------------------------------------------
nan
기각

##4. 일원분산분석

In [40]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

d = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/iris.csv')

result = d.loc[d['species']=='versicolor','sepal_width'].mean()
print(round(result,2))
print('-'*80)

X1 = d.loc[d['species']=='setosa','sepal_width']
X2 = d.loc[d['species']=='versicolor','sepal_width']
X3 = d.loc[d['species']=='virginica','sepal_width']

test_result = stats.f_oneway(X1,X2,X3)
print(round(test_result.statistic,2))
print('-'*80)

p_value = test_result.pvalue
print(round(p_value,4))
print('-'*80)

if p_value>0.05:
    print('채택')
else:
    print('기각')

2.77
--------------------------------------------------------------------------------
49.16
--------------------------------------------------------------------------------
0.0
--------------------------------------------------------------------------------
기각

##5. 카이제곱검정(적합도 검정)

In [48]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

e = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/cellphone.csv')
e.head()

count_df = e.groupby('제조사').count()
print(count_df)
print('-'*80)

result = count_df.loc['삼성','id']-count_df.loc['애플','id']
print(result)
print('-'*80)

total_sum = len(e)
expected = [int(total_sum*0.1),
            int(total_sum*0.6),
            int(total_sum*0.3)]
print(expected)
print('-'*80)

observed = count_df['id'].values
test_result = stats.chisquare(observed, f_exp=expected)
result = round(test_result.statistic,2)
print(result)
print('-'*80)

p_value = test_result.pvalue
print(round(p_value,4))
if p_value>0.05:
    print('채택')
else:
    print('기각')

      id
제조사
기타     5
삼성   117
애플    78
--------------------------------------------------------------------------------
39
--------------------------------------------------------------------------------
[20, 120, 60]
--------------------------------------------------------------------------------
16.73
--------------------------------------------------------------------------------
0.0002
기각

##6. 카이제곱검정 (독립성 검정)

In [55]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

data = pd.read_csv('/content/yemoonsaBigdata/datasets/supplement/student.csv')

table = pd.crosstab(data['단과대학'],data['수강 과목 수'])
print(table)
print('-'*80)

result = table[table['6개 이상']==table['6개 이상'].max()].index[0]
print(result)
print('-'*80)

X1 = table.loc['경영대학',:]
X2 = table.loc['자연대학',:]
X3 = table.loc['공과대학',:]

test_result = stats.chi2_contingency([X1,X2,X3])
result = test_result.statistic
print(round(result,2))

p_value = test_result.pvalue
print(round(p_value,4))

if p_value>0.05:
    print('채택')
else:
    print('기각')

수강 과목 수  4개 이하  5개  6개 이상
단과대학
경영대학        12  78     30
공과대학        30  42     28
자연대학        30  42      8
--------------------------------------------------------------------------------
경영대학
--------------------------------------------------------------------------------
30.13
0.0
기각