In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\sba\anaconda3\envs\ai2\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sba\anaconda3\envs\ai2\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sba\anaconda3\envs\ai2\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sba\anaconda3\envs\ai2\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\sba\anaconda3\envs\ai2\lib\site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in c:\users\sba\anaconda3\envs\ai2\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# 자료형

## 1. 숫자형

In [2]:
a = 3
b = 4

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a // b)
print(a ** b)

7
-1
12
0.75
3
0
81

## 2. 문자열

### 기본 활용

In [6]:
str1 = '단어'
str2 = "ABC"
str3 = '''
안녕하세요.
제 이름은 전원우입니다.
'''

In [8]:
print (str1 * 3)
print (str1 + str2)
print (str1 * 3)
print (str1 + str2)

단어단어단어
단어ABC
단어단어단어
단어ABC

### 인덱싱 & 슬라이싱

#### 인덱싱: 특정 위치의 문자를 추출/ 슬라이싱: 특정 위치의 문자를 잘라냄

In [11]:
# 인덱싱; Indexing
a = "Life is too short, You need Python"
print(a[0]) #a의 문장에서 1번째 출력
print(a[12]) #a의 문장에서 13번째 출력 (띄어쓰기 포함)

L
s

In [12]:
# 슬라이싱; Slicing
a = "Life is too short, You need Python"
print(a[:4]) #a의 문장에서 첫번째부터 4번째까지 출력

Life

In [26]:
# 인덱싱 & 슬라이싱 예시
str4 = 'Python Programming'
print (str4[7:18])
print (str4[7:])
print (str4[:])

Programming
Programming
Python Programming

In [25]:

text1 = '나는 "전원우"입니다.'
text2 = "나는 '전원우'입니다."
text3 = '나는 \'전원우\'입니다.'
text4 = "나는 \n전원우 \n입니다."
print(text1)
print(text2)
print(text3)
print(text4)

나는 "전원우"입니다.
나는 '전원우'입니다.
나는 '전원우'입니다.
나는
전원우
입니다.

### 문자열 내장함수 활용하기

In [7]:
a = 'hobby'
print(a.count('b'))
print(a.find('o'))
print(a.find('k'))
print(a.index('o'))
#print(a.index('k')) -> index를 사용할 때는 없는 문자를 입력하면 오류가 남.

print(','.join(a)) #a 사이에 ,을 넣겠다!
print(a.upper()) #a를 대문자로 표현, lower()는 소문자로 표현

2
1
-1
1
h,o,b,b,y
HOBBY

In [8]:
b = 'Life is too short'
b.replace('Life', 'Your leg')

'Your leg is too short'

In [10]:
b.split() #' '이 숨겨져 있음. 따라서 ()안에 아무것도 쓰지 않으면 공백을 기준으로 잘라줌.

['Life', 'is', 'too', 'short']

In [11]:
a2 = ','.join(a)
a3 = a2.split(',')
a4 = '-'.join(a3)
print(a2)
print(a3)
print(a4)

h,o,b,b,y
['h', 'o', 'b', 'b', 'y']
h-o-b-b-y

In [51]:
# name = '권소은' -> name이 변수
name = '전원우'
print(f'나의 이름은 {name}입니다.')

나의 이름은 전원우입니다.

## 3. 리스트

### 기본 활용

In [19]:
new_list = [[1,2,3],[4,5,6],[7,8,9]]
print(len(new_list))
print(len(new_list[1]))

#new_list에서 7,8을 선택하려면?
new_list[2][0:2]

3
3

[7, 8]

In [23]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
print(list1 + list2)
print(list1 * 3)

list1[1] = 9
print(list1)

list2[1:3] = [10,11,12]
print(list2)

list2[1:3] =[]
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
[1, 9, 3, 4]
[5, 10, 11, 12, 8]
[5, 12, 8]

In [24]:
del list2[1] #리스트2에서 2번째 (12) 삭제 후 출력
print(list2)

list2.remove(8) #리스트2에서 (8) 삭제 후 출력
print(list2)

[5, 8]
[5]

In [26]:
print(list1)
list1.sort() #리스트1을 순서대로 정렬
print(list1) #sort 출력 결과

list1.reverse() #리스트1을 반대로 정렬
print(list1) #reverse 출력 결과

list2.index(5)

[9, 4, 3, 1]
[1, 3, 4, 9]
[9, 4, 3, 1]

0

In [59]:
list3 = [1,2,3,4]
print (list3)

list3.append(11) #리스트3에 (11) 추가하기
print(list3) #append 출력 결과

list3.pop() #리스트3에서 마지막 결과 출력

[1, 2, 3, 4]
[1, 2, 3, 4, 11]

11

In [37]:
list5 = [9, 4, 10,3, 1,11]
pop_data = list5.pop()
print(pop_data) #pop을 사용하면 데이터가 빠짐. 
print(list5)

11
[9, 4, 10, 3, 1]

### 인덱싱 & 슬라이싱

In [17]:
# 인덱싱; Indexing
a = [1,2,3]
print(a[0]) #a의 리스트에서 1번째 출력
print(a[0] + a[2])

1
4

In [18]:
# 슬라이싱; Slicing
a = [1,2,3,4,5]
print(a[0:2]) #a의 리스트에서 첫번째에서 2번째까지 잘라서 출력

[1, 2]

## 4. 튜플

### 패킹 & 언패킹

In [27]:
a = (1,2,3,4,5) #packing
one, two, three = (1,2,3) #unpacking
print(one)
print(two)
print(three)

#튜플은 값을 변경할 수 없기 때문에 아래 코드 실행 불가
# a[1] = 5

1
2
3

In [33]:
tuple([1,2,3])

(1, 2, 3)

## 5. 딕셔너리

### 기본 활용

In [29]:
dict1 = {1 : 'a'}
dict1[2] = 'b' #dict1의 키가 2이고 값이 b인 것을 추가
print(dict1)

{1: 'a', 2: 'b'}

In [30]:
del dict1[1] #dict1에서 1을 Key로 가지고 있는 Value 삭제하고 출력
print(dict1)

{2: 'b'}

In [31]:
print(dict1[2])
print(dict1.get(2))

b
b

In [32]:
dict2 = {'name': 'pey', 'phone' : '01012345678','birth' : '0904'} 
print(dict2.keys())
print(dict2.values())
print(dict2.items()) #결과가 리스트(대괄호) 안에 튜플(소괄호) 형태로 출력됨.

dict_keys(['name', 'phone', 'birth'])
dict_values(['pey', '01012345678', '0904'])
dict_items([('name', 'pey'), ('phone', '01012345678'), ('birth', '0904')])

## 6. 집합

### 기본 활용

In [6]:
s1 = set([1,2,3])
s2 = {2,3,4,4}
print(s1)
print(s2) #중복을 허용하지 않음

{1, 2, 3}
{2, 3, 4}

In [21]:
s1.add(4) #s1에 4 추가
print(s1)

s2.update([5,6,7]) #여러 개의 값을 추가할 때
print(s2)

s2.remove(7)
print(s2)

{1, 2, 3, 4}
{2, 3, 4, 5, 6, 7}
{2, 3, 4, 5, 6}

In [34]:
print(s1)
print(s2)
print(s1&s2) #교집합 1
print(s1.intersection(s2)) #교집합 2

print(s1|s2) #합집합 1
print(s1.union(s2)) #합집합 2

print(s1-s2) #차집합 1
print(s1.difference(s2)) #차집합 2

{1, 2, 3, 4}
{2, 3, 4, 5, 6}
{2, 3, 4}
{2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1}
{1}

## 7. Boolean

### 기본 활용

In [4]:
print(1==1)
print(1!=1)

True
False

# 연습문제

### 변수 관련 연습문제

1-1. 어떤 회원이 생년월일 입력란에 890724를 입력하였을 때, 해당 문자를 89/07/24로 출력하기

In [13]:
ex1 = '890724'
print(ex1[:2] + '/' + ex1[2:4] + '/' + ex1[4:6])

89/07/24

1-2. 어떤 유통회사의 유통일자가 20190603으로 입력되었을 때, 해당 문자를 2019-06-03으로 출력하기

In [14]:
ex2 = '20190603'
print(ex2[:4] + '-' + ex2[4:6] + '-' + ex2[6:8])

2019-06-03

1-3. 어떤 고객이 휴대전화번호를 010-1234-5678으로 입력하였을 때, 해당 문자를 01012345678으로 출력하기

In [15]:
ex3 = '010-1234-5678'
split_ex3 = ex3.split('-')
''.join(split_ex3)

'01012345678'

In [ ]:
ex3.replace('-','')

'01012345678'

### 딕셔너리, 리스트 관련 연습문제

1-4. 딕셔너리를 활용하여 간단한 사전 만들기 
(1부터 5까지 숫자를 입력하면 한글로 출력되는 프로그램)

In [1]:
dict1 = {1:'하나', 2:'둘', 3: '셋', 4: '넷', 5: '다섯'}
A = int(input ("값을 입력하시오 : "))
dict1[1]

'하나'

1-5. 아래의 리스트(list)를 선언하고, 중복 값을 제거하여 출력해 보기
list1 = [1,1,1,1,1,1,2,4,5,6,7,8,9,10]

In [43]:
list_A = [1,1,1,1,1,1,2,4,5,6,7,8,9,10]
list(set(list_A))

[1, 2, 4, 5, 6, 7, 8, 9, 10]