In [2]:
import pandas

In [5]:
a = 1
b = "python"
c = [1,2,3]

In [8]:
print(a)

1

# 자료형

## 숫자형

In [9]:
a = 3
b = 4

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

7
-1
12
0.75
3
0
81

## 문자열

In [32]:
str1 = '단어'
str2 = "ABC"
str3 = '''
안녕하세요.
제 이름은 전원우입니다.
'''

In [33]:
print (str1 * 3)
print (str1 + str2)

단어단어단어
단어ABC

### 슬라이싱 & 인덱싱

In [18]:
print (str1 * 3)
print (str1 + str2)
print (str2[0]) #indexing
print (str3[0:7]) #slicing

단어단어단어
단어ABC
A

안녕하세요.

In [24]:
str4 = 'Python Programming'
print (str4[7:18])
print (str4[7:])
print (str4[:])

Programming
Programming
Python Programming

In [40]:
text1 = '나는 "전원우"입니다.'
text2 = "나는 '전원우'입니다."
text3 = '나는 \'전원우\'입니다.'
text4 = "나는 \n전원우 \n입니다."
print(text1)
print(text2)
print(text3)
print(text4)

나는 "전원우"입니다.
나는 '전원우'입니다.
나는 '전원우'입니다.
나는
전원우
입니다.

In [56]:
a = 'hobby'
print(a.count('b'))
print(a.find('o'))
print(a.find('k'))
print(a.index('o'))
#print(a.index('k')) -> index를 사용할 때는 없는 문자를 입력하면 오류가 남.

print(','.join(a))
print(a.upper())

2
1
-1
1
h,o,b,b,y
HOBBY

In [63]:
b = 'Life is too short'
b.replace('Life', 'Your leg')

'Your leg is too short'

In [64]:
b.split()

['Life', 'is', 'too', 'short']

In [72]:
a2 = ','.join(a)
a3 = a2.split(',')
a4 = '-'.join(a3)
print(a2)
print(a3)
print(a4)

h,o,b,b,y
['h', 'o', 'b', 'b', 'y']
h-o-b-b-y

#### 어떤 회원이 생년월일 입력란에 890724를 입력하였을 때, 해당 문자를 89/07/24로 출력하기

In [79]:
birth = "89 07 24" 
b1 = birth.split()
'/'.join(b1)

'89/07/24'

In [93]:
ex1 = '890724'
print(ex1[:2] + '/' + ex1[2:4] + '/'+ ex1[4:6])

89/07/24

#### 어떤 유통회사의 유통일자가 20190603으로 입력되었을 때, 해당 문자를 2019-06-03으로 출력하기

In [84]:
day = '2019 06 03'
d1 = day.split()
'-'.join(d1)

'2019-06-03'

In [95]:
ex2 = '20190603'
print(ex2[:4] + '-' + ex2[4:6] + '-'+ ex2[6:8])

2019-06-03

#### 어떤 고객이 휴대전화번호를 010-1234-5678로 입력하였을 때, 해당 문자를 01012345678으로 출력하기

In [99]:
ex3 = '010-1234-5678'
split_ex3 = ex3.split('-')
''.join(split_ex3)

'01012345678'

In [100]:
ex3.replace('-','')

'01012345678'

### 리스트

In [110]:
list1 = [1, 2, ['Life', 'is', 'too'], 3, 4]
list1[2][1]

'is'

In [138]:
list2 = [1,2,3,4]
list3 = [5,6,7,8]
print(list2 + list3)
print(list2 * 3)

list2[1] = 9
print(list2)

list3[1:3] = [10,11,12]
print(list3)

list3[1:3] =[]
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
[1, 9, 3, 4]
[5, 10, 11, 12, 8]
[5, 12, 8]

In [139]:
del list3[1]
list3

[5, 8]

In [140]:
list3.remove(8)
print(list3)

[5]

In [145]:
print(list2)
list2.sort()
print(list2)

list2.reverse()
print(list2)

[9, 4, 3, 1]
[1, 3, 4, 9]
[9, 4, 3, 1]

In [153]:
list2.index(3)
list2.insert()

4

In [ ]:
list2.insert(2,10)

In [150]:
list2.append(11)
print(list2)

[9, 4, 10, 10, 3, 1, 11, 11]

In [154]:
list2.pop()

11

In [155]:
print(list2)

[9, 4, 10, 10, 3, 1, 11]

### 튜플

In [157]:
a = (1,2,3,4,5) #packing
one, two, three = (1,2,3) #unpacking
print(one)
print(two)
print(three)

1
2
3

### 딕셔너리

In [158]:
dict1 = {1 : 'a'}
dict1[2] = 'b'
print(dict1)

{1: 'a', 2: 'b'}

In [159]:
del dict1[1]
print(dict1)

{2: 'b'}

In [162]:
print(dict1[2])
print(dict1.get(2))

b
b

In [165]:
print(2 in dict1)
print(1 in dict1)

True
False

In [174]:
dict2 = {'name': 'pey', 'phone' : '01012345678','birth' : '0904'} 
print(dict2.keys())
print(dict2.values())
print(dict2.items())

dict_keys(['name', 'phone', 'birth'])
dict_values(['pey', '01012345678', '0904'])
dict_items([('name', 'pey'), ('phone', '01012345678'), ('birth', '0904')])

In [179]:
s1 = set([1,2,3])
s2 = {2,3,4,4}
print(s1)
print(s2)

{1, 2, 3}
{2, 3, 4}

In [184]:
s1.add(4)
print(s1)

s2.update([5,6,7])
print(s2)

s2.remove(7)
print(s2)

{1, 2, 3, 4}
{2, 3, 4, 5, 6, 7}
{2, 3, 4, 5, 6}

In [191]:
print(s1)
print(s2)
print(s1&s2) #교집합 1
print(s1.intersection(s2)) #교집합 2

print(s1|s2) #합집합 1
print(s1.union(s2)) #합집합 2

print(s1-s2)
print(s1.difference(s2))

{1, 2, 3, 4}
{2, 3, 4, 5, 6}
{2, 3, 4}
{2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1}
{1}

### Boolean

In [192]:
print(1==1)

True

In [194]:
print(1!=1)

False

#### 딕셔너리를 활용하여 간단한 영한 사전 만들기 1부터 5까지 영어를 입력하면 한글로 출력되는 프로그램

In [4]:
dict3={'one':'일', 'two':'이', 'three': '삼', 'four': '사', 'five': '오'}
print(dict3.keys())
print(dict3.values())
print(dict3.items())

dict_keys(['one', 'two', 'three', 'four', 'five'])
dict_values(['일', '이', '삼', '사', '오'])
dict_items([('one', '일'), ('two', '이'), ('three', '삼'), ('four', '사'), ('five', '오')])

#### 아래의 리스트를 선언하고, 중복 값을 제거하여 출력해보기 (list1 = [1,1,1,1,1,1,1,2,4,5,6,7,8,9,10])

In [8]:
list1 = [1,1,1,1,1,1,12,4,5,6,7,8,9,10]

# 2강